<a href="https://colab.research.google.com/github/Vugar-Nasirli/Postgre_SQL_Beginner/blob/main/Resources/Blank_SQL_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intermediate SQL Topics with PostgreSQL

#### Import Libraries & Database

In [12]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Update package installer
    !sudo apt-get update -qq > /dev/null 2>&1

    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Connecting and switching to connection 'postgresql://postgres:***@localhost:5432/contoso_100k'

# DB Review

In [ ]:
%%sql
SELECT * FROM currencyexchange;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

91325 rows affected.

             date fromcurrency tocurrency  exchange
0      2015-01-01          AUD        AUD      1.00
1      2015-01-01          AUD        CAD      0.95
2      2015-01-01          AUD        EUR      0.67
3      2015-01-01          AUD        GBP      0.53
4      2015-01-01          AUD        USD      0.82
...           ...          ...        ...       ...
91320  2024-12-31          USD        AUD      1.55
91321  2024-12-31          USD        CAD      1.35
91322  2024-12-31          USD        EUR      0.92
91323  2024-12-31          USD        GBP      0.78
91324  2024-12-31          USD        USD      1.00

[91325 rows x 4 columns]

In [ ]:
%%sql
SELECT * FROM date;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

3653 rows affected.

,date,datekey,year,yearquarter,yearquarternumber,quarter,yearmonth,yearmonthshort,yearmonthnumber,month,monthshort,monthnumber,dayofweek,dayofweekshort,dayofweeknumber,workingday,workingdaynumber
0,2015-01-01,20150101,2015,Q1-2015,8061,Q1,January 2015,Jan 2015,24181,January,Jan,1,Thursday,Thu,5,0,0
1,2015-01-02,20150102,2015,Q1-2015,8061,Q1,January 2015,Jan 2015,24181,January,Jan,1,Friday,Fri,6,1,1
2,2015-01-03,20150103,2015,Q1-2015,8061,Q1,January 2015,Jan 2015,24181,January,Jan,1,Saturday,Sat,7,0,1
3,2015-01-04,20150104,2015,Q1-2015,8061,Q1,January 2015,Jan 2015,24181,January,Jan,1,Sunday,Sun,1,0,1
4,2015-01-05,20150105,2015,Q1-2015,8061,Q1,January 2015,Jan 2015,24181,January,Jan,1,Monday,Mon,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3648,2024-12-27,20241227,2024,Q4-2024,8100,Q4,December 2024,Dec 2024,24300,December,Dec,12,Friday,Fri,6,1,2507
3649,2024-12-28,20241228,2024,Q4-2024,8100,Q4,December 2024,Dec 2024,24300,December,Dec,12,Saturday,Sat,7,0,2507
3650,2024-12-29,20241229,2024,Q4-2024,8100,Q4,December 2024,Dec 2024,24300,December,Dec,12,Sunday,Sun,1,0,2507
3651,2024-12-30,20241230,2024,Q4-2024,8100,Q4,December 2024,Dec 2024,24300,December,Dec,12,Monday,Mon,2,1,2508
3652,2024-12-31,20241231,2024,Q4-2024,8100,Q4,December 2024,Dec 2024,24300,December,Dec,12,Tuesday,Tue,3,1,2509

In [ ]:
%%sql
SELECT * FROM customer;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

104990 rows affected.

,customerkey,geoareakey,startdt,enddt,continent,gender,title,givenname,middleinitial,surname,...,zipcode,country,countryfull,birthday,age,occupation,company,vehicle,latitude,longitude
0,15,4,1990-09-10,2034-07-29,Australia,male,Mr.,Julian,A,McGuigan,...,4357,AU,Australia,1965-03-24,55,Border Patrol agent,Cut Rite Lawn Care,2000 Peugeot Kart Up,-27.83,151.17
1,23,8,1995-08-11,2045-01-26,Australia,female,Ms.,Rose,H,Dash,...,6055,AU,Australia,1990-05-10,30,Agricultural and food scientist,Rack N Sack,2005 Volvo XC90,-31.92,116.05
2,36,2,1992-03-12,2044-05-14,Australia,female,Ms.,Annabelle,J,Townsend,...,2304,AU,Australia,1964-07-16,56,Special education teacher,id Boutiques,1999 Lancia Lybra,-32.88,151.71
3,120,6,1983-07-23,2033-08-09,Australia,male,Mr.,Jamie,H,Hetherington,...,7256,AU,Australia,1946-12-11,74,Dental laboratory technician,Showbiz Pizza Place,2006 Dodge Durango,-39.77,144.02
4,180,7,1987-11-26,2026-10-14,Australia,male,Mr.,Gabriel,P,Bosanquet,...,3505,AU,Australia,1955-04-24,65,Administrative support specialist,Dubrow's Cafeteria,1995 Morgan Plus 4,-34.13,142.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104985,2099639,580,1988-12-05,2016-07-02,North America,male,Mr.,Miroslav,M,Slach,...,62550,US,United States,1945-04-30,75,Placement specialist,Strength Gurus,2006 Suzuki Sea Forenza Wagon,39.59,-88.89
104986,2099656,567,1997-04-07,2043-01-10,North America,male,Mr.,Wilfredo,A,Lozada,...,35404,US,United States,1945-08-24,75,Industrial economist,Williams Bros.,2012 Mercedes-Benz E,33.17,-87.51
104987,2099697,570,2003-03-17,2043-03-02,North America,male,Mr.,Phillipp,S,Maier,...,93401,US,United States,1966-12-08,54,Mail sorter,Excella,2010 Subaru Tribeca,35.23,-120.59
104988,2099711,591,1980-08-26,2043-04-27,North America,female,Mrs.,Katerina,M,Pavlícková,...,39401,US,United States,1941-01-01,80,Light truck driver,Lawnscape Garden Maintenance,2006 Bentley Arnage,31.26,-89.19
104989,2099743,591,1985-04-01,2045-12-25,North America,female,Ms.,Luciana,N,Almonte,...,39095,US,United States,2000-02-22,21,Cabinetmaker,Frank's Nursery & Crafts,1995 Subaru Vivio,33.06,-90.02

In [ ]:
%%sql
SELECT * FROM sales;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

199873 rows affected.

,orderkey,linenumber,orderdate,deliverydate,customerkey,storekey,productkey,quantity,unitprice,netprice,unitcost,currencycode,exchangerate
0,1000,0,2015-01-01,2015-01-01,947009,400,48,1,112.46,98.97,57.34,GBP,0.64
1,1000,1,2015-01-01,2015-01-01,947009,400,460,1,749.75,659.78,382.25,GBP,0.64
2,1001,0,2015-01-01,2015-01-01,1772036,430,1730,2,54.38,54.38,25.00,USD,1.00
3,1002,0,2015-01-01,2015-01-01,1518349,660,955,4,315.04,286.69,144.88,USD,1.00
4,1002,1,2015-01-01,2015-01-01,1518349,660,62,7,135.75,135.75,62.43,USD,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
199868,3398034,1,2024-04-20,2024-04-21,664396,999999,1651,7,159.99,139.19,73.57,EUR,0.94
199869,3398034,2,2024-04-20,2024-04-21,664396,999999,1646,1,159.99,159.99,73.57,EUR,0.94
199870,3398035,0,2024-04-20,2024-04-22,267690,999999,1575,2,60.99,53.67,28.05,CAD,1.38
199871,3398035,1,2024-04-20,2024-04-22,267690,999999,415,5,326.00,293.40,166.20,CAD,1.38
199872,3398035,2,2024-04-20,2024-04-22,267690,999999,1693,6,6.88,6.88,3.16,CAD,1.38

In [ ]:
%%sql
SELECT * FROM store;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

74 rows affected.

,storekey,storecode,geoareakey,countrycode,countryname,state,opendate,closedate,description,squaremeters,status
0,10,1,1,AU,Australia,Australian Capital Territory,2008-01-01,None,Contoso Store Australian Capital Territory,595.00,None
1,20,2,3,AU,Australia,Northern Territory,2008-01-12,2016-07-07,Contoso Store Northern Territory,665.00,Closed
2,30,3,5,AU,Australia,South Australia,2012-01-07,2015-08-08,Contoso Store South Australia,2000.00,Restructured
3,35,3,5,AU,Australia,South Australia,2015-12-08,None,Contoso Store South Australia,3000.00,None
4,40,4,6,AU,Australia,Tasmania,2010-01-01,None,Contoso Store Tasmania,2000.00,None
...,...,...,...,...,...,...,...,...,...,...,...
69,630,63,610,US,United States,Utah,2008-03-06,2019-11-03,Contoso Store Utah,2000.00,None
70,650,65,573,US,United States,Washington DC,2010-01-01,None,Contoso Store Washington DC,1330.00,None
71,660,66,615,US,United States,West Virginia,2012-01-01,None,Contoso Store West Virginia,1785.00,None
72,670,67,616,US,United States,Wyoming,2014-01-01,None,Contoso Store Wyoming,840.00,None
73,999999,-1,-1,--,Online,Online,2010-01-01,None,Online store,NaN,None

In [ ]:
%%sql
SELECT * FROM product;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

2517 rows affected.

,productkey,productcode,productname,manufacturer,brand,color,weightunit,weight,cost,price,categorykey,categoryname,subcategorykey,subcategoryname
0,1,101001,Contoso 512MB MP3 Player E51 Silver,"Contoso, Ltd",Contoso,Silver,ounces,4.80,6.62,12.99,1,Audio,101,MP4&MP3
1,2,101002,Contoso 512MB MP3 Player E51 Blue,"Contoso, Ltd",Contoso,Blue,ounces,4.10,6.62,12.99,1,Audio,101,MP4&MP3
2,3,101003,Contoso 1G MP3 Player E100 White,"Contoso, Ltd",Contoso,White,ounces,4.50,7.40,14.52,1,Audio,101,MP4&MP3
3,4,101004,Contoso 2G MP3 Player E200 Silver,"Contoso, Ltd",Contoso,Silver,ounces,4.50,11.00,21.57,1,Audio,101,MP4&MP3
4,5,101005,Contoso 2G MP3 Player E200 Red,"Contoso, Ltd",Contoso,Red,ounces,2.40,11.00,21.57,1,Audio,101,MP4&MP3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2512,2513,505026,Contoso Bluetooth Active Headphones L15 Red,"Contoso, Ltd",Contoso,Red,ounces,12.80,43.07,129.99,5,Cell phones,505,Cell phones Accessories
2513,2514,505027,Contoso Bluetooth Active Headphones L15 White,"Contoso, Ltd",Contoso,White,ounces,12.80,43.07,129.99,5,Cell phones,505,Cell phones Accessories
2514,2515,505028,Contoso In-Line Coupler E180 White,"Contoso, Ltd",Contoso,White,ounces,1.00,1.71,3.35,5,Cell phones,505,Cell phones Accessories
2515,2516,505029,Contoso In-Line Coupler E180 Black,"Contoso, Ltd",Contoso,Black,ounces,1.00,1.71,3.35,5,Cell phones,505,Cell phones Accessories
2516,2517,505030,Contoso In-Line Coupler E180 Silver,"Contoso, Ltd",Contoso,Silver,ounces,1.00,1.71,3.35,5,Cell phones,505,Cell phones Accessories

In [ ]:
%%sql
SELECT
  s.orderkey,
  s.linenumber,
  s.orderdate,
  p.productname,
  st.description AS store_name,
  c.givenname AS customer_name,
  s.netprice * s.exchangerate AS netincome_usd,
  CASE
    WHEN s.netprice * s.exchangerate > 500 THEN 'HIGH' ELSE 'LOW'
  END AS incomerate
FROM
  sales s
LEFT JOIN
  product p ON s.productkey = p.productkey
LEFT JOIN
  customer c ON s.customerkey = c.customerkey
LEFT JOIN
  store st ON s.storekey = st.storekey
WHERE
  s.orderdate::date >= '2024-01-01';

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10131 rows affected.

,orderkey,linenumber,orderdate,productname,store_name,customer_name,netincome_usd,incomerate
0,3288000,0,2024-01-01,Contoso Rubberized Snap-On Cover Hard Case Cel...,Online store,Leonard,6.28,LOW
1,3288020,1,2024-01-01,WWI Wireless Bluetooth Stereo Headphones M270 ...,Contoso Store Flevoland,Sundus,104.07,LOW
2,3288021,0,2024-01-01,The Phone Company Touch Screen Phones Infrared...,Contoso Store Enna,Marilena,247.06,LOW
3,3288021,1,2024-01-01,Contoso 16GB New Generation MP5 Player M1650 B...,Contoso Store Enna,Marilena,188.96,LOW
4,3288022,0,2024-01-01,Fabrikam Laptop12 M2000 White,Online store,Daniel,446.18,LOW
...,...,...,...,...,...,...,...,...
10126,3397003,1,2024-04-19,SV Hand Games men M30 Red,Contoso Store Northwest Territories,John,9.47,LOW
10127,3397003,2,2024-04-19,Adventure Works Desktop PC1.80 ED182 Brown,Contoso Store Northwest Territories,John,591.86,HIGH
10128,3397004,0,2024-04-19,Contoso DVD 55DVD Storage Binder M56 Red,Online store,Petr,11.01,LOW
10129,3397005,0,2024-04-19,Adventure Works LCD19 E108 Black,Online store,Owen,191.36,LOW
10130,3397006,0,2024-04-19,MGS Hand Games for kids E300 Red,Online store,Judith,4.79,LOW

# **Pivoting with Case and Aggregation functions**

In [ ]:
%%sql
SELECT
  orderdate,
  COUNT(DISTINCT customerkey) AS total_customers
FROM
  sales
WHERE
  EXTRACT (YEAR FROM orderdate) = '2023'
GROUP BY
  orderdate;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

364 rows affected.

      orderdate  total_customers
0    2023-01-01               12
1    2023-01-02               49
2    2023-01-03               64
3    2023-01-04               78
4    2023-01-05               87
..          ...              ...
359  2023-12-27               73
360  2023-12-28               75
361  2023-12-29               55
362  2023-12-30               91
363  2023-12-31                9

[364 rows x 2 columns]

In [ ]:
%%sql
SELECT DISTINCT
  continent
FROM
  customer;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

3 rows affected.

       continent
0         Europe
1  North America
2      Australia

In [ ]:
%%sql
SELECT
  s.orderdate,
  COUNT(DISTINCT CASE WHEN c.continent = 'Europe' THEN s.customerkey END) AS eu_customers,
  COUNT(DISTINCT CASE WHEN c.continent = 'Australia' THEN s.customerkey END) AS au_customers,
  COUNT(DISTINCT CASE WHEN c.continent = 'North America' THEN s.customerkey END) AS na_customers
FROM
  sales s
LEFT JOIN
  customer c ON s.customerkey = c.customerkey
WHERE
  EXTRACT(YEAR FROM s.orderdate) = '2023'
GROUP BY
  s.orderdate;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

364 rows affected.

      orderdate  eu_customers  au_customers  na_customers
0    2023-01-01             6             1             5
1    2023-01-02            15             3            31
2    2023-01-03            17             3            44
3    2023-01-04            28             4            46
4    2023-01-05            22             8            57
..          ...           ...           ...           ...
359  2023-12-27            26             6            41
360  2023-12-28            24             7            44
361  2023-12-29            19             4            32
362  2023-12-30            25            16            50
363  2023-12-31             1             0             8

[364 rows x 4 columns]

In [ ]:
%%sql
SELECT DISTINCT
  categoryname
FROM
  product;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

                    categoryname
0                          Audio
1                    Cell phones
2        Cameras and camcorders
3                   TV and Video
4                Home Appliances
5                 Games and Toys
6  Music, Movies and Audio Books
7                      Computers

In [ ]:
%%sql
SELECT
  p.categoryname,
  SUM(CASE WHEN EXTRACT(YEAR FROM s.orderdate) = '2022' THEN s.quantity * s.netprice * exchangerate END) AS total_net_revenue_2022,
  SUM(CASE WHEN EXTRACT(YEAR FROM s.orderdate) = '2023' THEN s.quantity * s.netprice * exchangerate END) AS total_net_revenue_2023
FROM
  product p
LEFT JOIN
  sales s ON p.productkey = s.productkey
GROUP BY
  p.categoryname;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

,categoryname,total_net_revenue_2022,total_net_revenue_2023
0,Audio,766938.21,688690.18
1,Cell phones,8119665.07,6002147.63
2,Cameras and camcorders,2382532.56,1983546.29
3,TV and Video,5815336.61,4412178.23
4,Home Appliances,6612446.68,5919992.87
5,Games and Toys,316127.30,270374.96
6,"Music, Movies and Audio Books",2989297.28,2180768.13
7,Computers,17862213.49,11650867.21

# Statistical Aggregation

In [ ]:
%%sql
SELECT
  p.categoryname,
  AVG(CASE WHEN EXTRACT(YEAR FROM s.orderdate) = '2022' THEN s.quantity * s.netprice * exchangerate END) AS avg_net_revenue_2022,
  AVG(CASE WHEN EXTRACT(YEAR FROM s.orderdate) = '2023' THEN s.quantity * s.netprice * exchangerate END) AS avg_net_revenue_2023
FROM
  product p
LEFT JOIN
  sales s ON p.productkey = s.productkey
GROUP BY
  p.categoryname;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

                    categoryname  avg_net_revenue_2022  avg_net_revenue_2023
0                          Audio                392.30                425.38
1                    Cell phones                722.20                623.28
2        Cameras and camcorders                1210.02               1210.96
3                   TV and Video               1535.61               1687.90
4                Home Appliances               1755.36               1886.55
5                 Games and Toys                 81.29                 80.83
6  Music, Movies and Audio Books                386.61                334.58
7                      Computers               1565.62               1292.39

In [ ]:
%%sql
SELECT
  p.categoryname,
  MIN(CASE WHEN EXTRACT(YEAR FROM s.orderdate) = '2022' THEN s.quantity * s.netprice * exchangerate END) AS min_net_revenue_2022,
  MIN(CASE WHEN EXTRACT(YEAR FROM s.orderdate) = '2023' THEN s.quantity * s.netprice * exchangerate END) AS min_net_revenue_2023
FROM
  product p
LEFT JOIN
  sales s ON p.productkey = s.productkey
GROUP BY
  p.categoryname;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

                    categoryname  min_net_revenue_2022  min_net_revenue_2023
0                          Audio                  9.31                 10.85
1                    Cell phones                  2.53                  2.28
2        Cameras and camcorders                   6.74                  5.98
3                   TV and Video                 41.30                 42.30
4                Home Appliances                  4.04                  4.54
5                 Games and Toys                  2.83                  3.49
6  Music, Movies and Audio Books                  7.29                  6.91
7                      Computers                  0.83                  0.75

In [ ]:
%%sql
SELECT
  p.categoryname,
  MAX(CASE WHEN EXTRACT(YEAR FROM s.orderdate) = '2022' THEN s.quantity * s.netprice * exchangerate END) AS max_net_revenue_2022,
  MAX(CASE WHEN EXTRACT(YEAR FROM s.orderdate) = '2023' THEN s.quantity * s.netprice * exchangerate END) AS max_net_revenue_2023
FROM
  product p
LEFT JOIN
  sales s ON p.productkey = s.productkey
GROUP BY
  p.categoryname;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

                    categoryname  max_net_revenue_2022  max_net_revenue_2023
0                          Audio               3473.36               2730.87
1                    Cell phones               7692.37               8912.22
2        Cameras and camcorders               15008.39              13572.00
3                   TV and Video              30259.41              27503.12
4                Home Appliances              31654.55              32915.59
5                 Games and Toys               5202.01               3357.30
6  Music, Movies and Audio Books               5415.19               3804.91
7                      Computers              38082.66              27611.60

In [ ]:
%%sql
SELECT
  p.categoryname,
  PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY (CASE WHEN EXTRACT(YEAR FROM s.orderdate) = '2022' THEN s.quantity * s.netprice * exchangerate END)) AS median_net_revenue_2022,
  PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY (CASE WHEN EXTRACT(YEAR FROM s.orderdate) = '2023' THEN s.quantity * s.netprice * exchangerate END)) AS median_net_revenue_2023
FROM
  product p
LEFT JOIN
  sales s ON p.productkey = s.productkey
GROUP BY
  p.categoryname;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

,categoryname,median_net_revenue_2022,median_net_revenue_2023
0,Audio,257.21,266.59
1,Cameras and camcorders,651.46,672.60
2,Cell phones,418.60,375.88
3,Computers,809.70,657.18
4,Games and Toys,33.78,32.62
5,Home Appliances,791.00,825.25
6,"Music, Movies and Audio Books",186.58,159.63
7,TV and Video,730.46,790.79

# **Advanced Segmentation**

In [ ]:
%%sql
SELECT
  PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY quantity * netprice * exchangerate) AS median_net_revenue
FROM
  sales;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

1 rows affected.

   median_net_revenue
0              399.17

In [ ]:
%%sql
-- We should find in 2022 and 2023 revenue in 2 different format. The total revenue for sales which lower than median value and higher than median value according to
-- each product category.
-- As well as we can see the number of sales which lower and higher than median in 2022 and 2023.
-- For example; for 2022 number of product sales which are lower than median revenue are 1294 and total revenue from these sales are approximately 224.000 but
-- the same for sales which are higher than median revenue are 661 and 543.000 accordingly. We can see that 2 times less sales give us 2 times more revenue.
-- According to this data we can make decision about improving the marketing starategy mostly for product which have sales revenue higher than median revenue.

WITH median_revenue AS
(
  SELECT
    PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY quantity * netprice * exchangerate) AS median
  FROM
    sales
)

SELECT
  p.categoryname,
  SUM(CASE wHEN EXTRACT(YEAR FROM s.orderdate) = '2022' AND
    ((s.quantity * s.netprice * s.exchangerate) < mr.median) THEN (s.quantity * s.netprice * s.exchangerate) END) AS low_revenue_2022,
  COUNT(CASE wHEN EXTRACT(YEAR FROM s.orderdate) = '2022' AND
    ((s.quantity * s.netprice * s.exchangerate) < mr.median) THEN s.productkey END) AS low_sales_count_2022,
  SUM(CASE wHEN EXTRACT(YEAR FROM s.orderdate) = '2022' AND
    ((s.quantity * s.netprice * s.exchangerate) >= mr.median) THEN (s.quantity * s.netprice * s.exchangerate) END) AS high_revenue_2022,
  COUNT(CASE wHEN EXTRACT(YEAR FROM s.orderdate) = '2022' AND
    ((s.quantity * s.netprice * s.exchangerate) >= mr.median) THEN s.productkey END) AS high_sales_count_2022,
  SUM(CASE WHEN EXTRACT(YEAR FROM s.orderdate) = '2022' THEN s.quantity * s.netprice * exchangerate END) AS total_revenue_2022,
  COUNT(CASE wHEN EXTRACT(YEAR FROM s.orderdate) = '2022' THEN s.productkey END) AS sales_count_2022,
  SUM(CASE wHEN EXTRACT(YEAR FROM s.orderdate) = '2023' AND
    ((s.quantity * s.netprice * s.exchangerate) < mr.median) THEN (s.quantity * s.netprice * s.exchangerate) END) AS low_revenue_2023,
  COUNT(CASE wHEN EXTRACT(YEAR FROM s.orderdate) = '2023' AND
    ((s.quantity * s.netprice * s.exchangerate) < mr.median) THEN s.productkey END) AS low_sales_count_2023,
  SUM(CASE wHEN EXTRACT(YEAR FROM s.orderdate) = '2023' AND
    ((s.quantity * s.netprice * s.exchangerate) >= mr.median) THEN (s.quantity * s.netprice * s.exchangerate) END) AS high_revenue_2023,
  COUNT(CASE wHEN EXTRACT(YEAR FROM s.orderdate) = '2023' AND
    ((s.quantity * s.netprice * s.exchangerate) >= mr.median) THEN s.productkey END) AS high_sales_count_2023,
  SUM(CASE WHEN EXTRACT(YEAR FROM s.orderdate) = '2023' THEN s.quantity * s.netprice * exchangerate END) AS total_revenue_2023,
  COUNT(CASE wHEN EXTRACT(YEAR FROM s.orderdate) = '2023' THEN s.productkey END) AS sales_count_2023
FROM
  product p
  LEFT JOIN sales s ON p.productkey = s.productkey,
  median_revenue mr
GROUP BY
  p.categoryname;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

,categoryname,low_revenue_2022,low_sales_count_2022,high_revenue_2022,high_sales_count_2022,total_revenue_2022,sales_count_2022,low_revenue_2023,low_sales_count_2023,high_revenue_2023,high_sales_count_2023,total_revenue_2023,sales_count_2023
0,Audio,223932.63,1294,543005.58,661,766938.21,1955,181847.01,1037,506843.18,582,688690.18,1619
1,Cell phones,822810.73,5477,7296854.34,5766,8119665.07,11243,738857.59,4958,5263290.05,4672,6002147.63,9630
2,Cameras and camcorders,133801.07,692,2248731.49,1277,2382532.56,1969,105268.50,574,1878277.79,1064,1983546.29,1638
3,TV and Video,273532.94,1191,5541803.66,2596,5815336.61,3787,166265.95,742,4245912.27,1872,4412178.23,2614
4,Home Appliances,220196.04,1127,6392250.64,2640,6612446.68,3767,177059.16,906,5742933.71,2232,5919992.87,3138
5,Games and Toys,232378.35,3767,83748.95,122,316127.30,3889,206103.36,3244,64271.60,101,270374.96,3345
6,"Music, Movies and Audio Books",687403.38,5378,2301893.90,2354,2989297.28,7732,576552.89,4769,1604215.24,1749,2180768.13,6518
7,Computers,626333.55,3306,17235879.94,8103,17862213.49,11409,592385.19,3234,11058482.02,5781,11650867.21,9015

In [ ]:
%%sql

WITH percentiles AS
(
SELECT
  PERCENTILE_CONT(0.25) WITHIN GROUP (ORDER BY (quantity * netprice * exchangerate)) AS revenue_25th_percentile,
  PERCENTILE_CONT(0.50) WITHIN GROUP (ORDER BY (quantity * netprice * exchangerate)) AS revenue_median,
  PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY (quantity * netprice * exchangerate)) AS revenue_75th_percentile
FROM
  sales
WHERE
  EXTRACT(YEAR FROM orderdate) BETWEEN '2022' AND '2023'
)

SELECT
  p.categoryname,
  CASE
    WHEN (s.quantity * s.netprice * s.exchangerate) < prc.revenue_25th_percentile THEN 'LOW'
    WHEN (s.quantity * s.netprice * s.exchangerate) BETWEEN prc.revenue_25th_percentile AND prc.revenue_75th_percentile THEN 'MEDIUM'
    WHEN (s.quantity * s.netprice * s.exchangerate) > prc.revenue_75th_percentile THEN 'HIGH'
  END AS revenue_tier,
  SUM(s.quantity * s.netprice * s.exchangerate) AS total_revenue
FROM
  sales s
LEFT JOIN
  product p ON s.productkey = p.productkey
CROSS JOIN
  percentiles prc
GROUP BY
  p.categoryname,
  revenue_tier
ORDER BY
  p.categoryname;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

24 rows affected.

                     categoryname revenue_tier  total_revenue
0                           Audio         HIGH     1213265.71
1                           Audio          LOW      267217.01
2                           Audio       MEDIUM     3832415.38
3         Cameras and camcorders          HIGH    15050781.63
4         Cameras and camcorders           LOW       81032.92
5         Cameras and camcorders        MEDIUM     3388546.10
6                     Cell phones         HIGH    21874993.15
7                     Cell phones          LOW      410309.35
8                     Cell phones       MEDIUM    10338963.22
9                       Computers         HIGH    79607760.89
10                      Computers          LOW      203207.06
11                      Computers       MEDIUM    10808054.11
12                 Games and Toys         HIGH      133749.09
13                 Games and Toys          LOW      533443.13
14                 Games and Toys       MEDIUM     1001381.91
15                Home Appliances         HIGH    22383475.30
16                Home Appliances          LOW      105045.60
17                Home Appliances       MEDIUM     4118724.64
18  Music, Movies and Audio Books         HIGH     3844996.29
19  Music, Movies and Audio Books          LOW      642496.71
20  Music, Movies and Audio Books       MEDIUM     6100817.99
21                   TV and Video         HIGH    16632856.33
22                   TV and Video          LOW       67221.76
23                   TV and Video       MEDIUM     3766783.30

In [ ]:
%%sql

WITH category_percentiles AS
(
SELECT
  p.categoryname,
  PERCENTILE_CONT(0.25) WITHIN GROUP (ORDER BY (s.quantity * s.netprice * s.exchangerate)) AS revenue_25th,
  PERCENTILE_CONT(0.50) WITHIN GROUP (ORDER BY (s.quantity * s.netprice * s.exchangerate)) AS revenue_median,
  PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY (s.quantity * s.netprice * s.exchangerate)) AS revenue_75th
FROM
  sales s
  LEFT JOIN product p ON s.productkey = p.productkey
WHERE
  EXTRACT(YEAR FROM s.orderdate) BETWEEN '2022' AND '2023'
GROUP BY
  p.categoryname
)

SELECT
  p.categoryname,
  MAX(cp.revenue_25th) AS revenue_25th,
  MAX(cp.revenue_median) AS revenue_median,
  MAX(cp.revenue_75th) AS revenue_75th,
  SUM(CASE WHEN EXTRACT(YEAR FROM s.orderdate) = '2022' AND (s.quantity * s.netprice * s.exchangerate) < cp.revenue_25th
    THEN (s.quantity * s.netprice * s.exchangerate) END) AS low_total_revenue_2022,
  SUM(CASE WHEN EXTRACT(YEAR FROM s.orderdate) = '2022' AND ((s.quantity * s.netprice * s.exchangerate) BETWEEN cp.revenue_25th AND cp.revenue_75th)
    THEN (s.quantity * s.netprice * s.exchangerate) END) AS medium_total_revenue_2022,
  SUM(CASE WHEN EXTRACT(YEAR FROM s.orderdate) = '2022' AND (s.quantity * s.netprice * s.exchangerate) > cp.revenue_75th
    THEN (s.quantity * s.netprice * s.exchangerate) END) AS high_total_revenue_25th,
  SUM(CASE WHEN EXTRACT(YEAR FROM s.orderdate) = '2022' THEN s.quantity * s.netprice * exchangerate END) AS total_revenue_2022
FROM
  sales s
  LEFT JOIN product p ON s.productkey = p.productkey
  LEFT JOIN category_percentiles cp ON p.categoryname = cp.categoryname
GROUP BY
  p.categoryname
ORDER BY
  p.categoryname;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

,categoryname,revenue_25th,revenue_median,revenue_75th,low_total_revenue_2022,medium_total_revenue_2022,high_total_revenue_25th,total_revenue_2022
0,Audio,121.81,262.25,526.37,35547.36,278454.27,452936.57,766938.21
1,Cameras and camcorders,276.02,659.87,1536.86,64243.74,758963.97,1559324.86,2382532.56
2,Cell phones,116.96,399.18,949.41,120237.03,2481398.25,5518029.80,8119665.07
3,Computers,294.00,738.00,1722.22,358797.13,4792006.60,12711409.76,17862213.49
4,Games and Toys,14.23,33.12,86.00,8137.68,76492.74,231496.89,316127.30
5,Home Appliances,329.97,806.53,2032.00,156373.56,1787509.27,4668563.85,6612446.68
6,"Music, Movies and Audio Books",52.92,171.31,463.92,51344.72,757790.05,2180162.51,2989297.28
7,TV and Video,329.47,758.32,1727.27,194912.88,1545111.36,4075312.36,5815336.61

# **Date and Time Formatting**
Time series analysis

1.   DATE_TRUNC(), TO_CHAR()
2.   DATE_PART(), EXTRACT()
3.   CURRENT_DATE, NOW()
4.   AGE, INTERVAL()

In [ ]:
%%sql
-- We should analyse each month how much revenue we have and how many customer we have.

SELECT
  DATE_TRUNC('month', orderdate)::DATE AS ordermonth,        -- new
  SUM(quantity * netprice * exchangerate) AS total_revenue,
  COUNT(DISTINCT customerkey) AS total_customers
FROM
  sales
GROUP BY
  ordermonth;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

112 rows affected.

     ordermonth  total_revenue  total_customers
0    2015-01-01      384092.66              200
1    2015-02-01      706374.12              291
2    2015-03-01      332961.59              139
3    2015-04-01      160767.00               78
4    2015-05-01      548632.63              236
..          ...            ...              ...
107  2023-12-01     2928550.93             1484
108  2024-01-01     2677498.55             1340
109  2024-02-01     3542322.55             1718
110  2024-03-01     1692854.89              877
111  2024-04-01      483851.39              246

[112 rows x 3 columns]

In [ ]:
%%sql

SELECT
  TO_CHAR(orderdate, 'YYYY-MM') AS order_month,              -- new
  SUM(quantity * netprice * exchangerate) AS total_revenue,
  COUNT(DISTINCT customerkey) AS total_customers
FROM
  sales
GROUP BY
  order_month;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

112 rows affected.

    order_month  total_revenue  total_customers
0       2015-01      384092.66              200
1       2015-02      706374.12              291
2       2015-03      332961.59              139
3       2015-04      160767.00               78
4       2015-05      548632.63              236
..          ...            ...              ...
107     2023-12     2928550.93             1484
108     2024-01     2677498.55             1340
109     2024-02     3542322.55             1718
110     2024-03     1692854.89              877
111     2024-04      483851.39              246

[112 rows x 3 columns]

## Data and Time Filtering

In [ ]:
%%sql

SELECT
  EXTRACT(YEAR FROM orderdate) AS order_year,
  EXTRACT(MONTH FROM orderdate) AS order_month,
  SUM(quantity * netprice * exchangerate) AS total_revenue,
  COUNT(DISTINCT customerkey) AS total_customers
FROM
  sales
GROUP BY
  order_year,
  order_month;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

112 rows affected.

    order_year order_month  total_revenue  total_customers
0         2015           1      384092.66              200
1         2015           2      706374.12              291
2         2015           3      332961.59              139
3         2015           4      160767.00               78
4         2015           5      548632.63              236
..         ...         ...            ...              ...
107       2023          12     2928550.93             1484
108       2024           1     2677498.55             1340
109       2024           2     3542322.55             1718
110       2024           3     1692854.89              877
111       2024           4      483851.39              246

[112 rows x 4 columns]

In [ ]:
%%sql

SELECT
  orderdate,
  categoryname,
  SUM(quantity * netprice * exchangerate) AS total_revenue
FROM
  sales
  LEFT JOIN product ON sales.productkey = product.productkey
WHERE
  EXTRACT(YEAR FROM orderdate) >= EXTRACT(YEAR FROM CURRENT_DATE) - 5    -- Current_date new
GROUP BY
  orderdate,
  categoryname
ORDER BY
  orderdate,
  categoryname;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

11171 rows affected.

        orderdate                   categoryname  total_revenue
0      2020-01-01                          Audio        5490.14
1      2020-01-01        Cameras and camcorders        18880.06
2      2020-01-01                    Cell phones       22593.00
3      2020-01-01                      Computers       78554.54
4      2020-01-01                 Games and Toys        1476.43
...           ...                            ...            ...
11166  2024-04-20                      Computers       58353.68
11167  2024-04-20                 Games and Toys        1744.30
11168  2024-04-20                Home Appliances        1562.04
11169  2024-04-20  Music, Movies and Audio Books        4949.43
11170  2024-04-20                   TV and Video        9841.91

[11171 rows x 3 columns]

## Date and Time Differences (Intervals)

In [ ]:
%%sql
SELECT
  orderdate,
  categoryname,
  SUM(quantity * netprice * exchangerate) AS total_revenue
FROM
  sales
  LEFT JOIN product ON sales.productkey = product.productkey
WHERE
  orderdate >= CURRENT_DATE - INTERVAL '5 years'    -- Interval new
GROUP BY
  orderdate,
  categoryname
ORDER BY
  orderdate,
  categoryname;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

9050 rows affected.

       orderdate                   categoryname  total_revenue
0     2020-12-17                          Audio         840.71
1     2020-12-17        Cameras and camcorders         7514.21
2     2020-12-17                    Cell phones        6098.32
3     2020-12-17                      Computers       13119.89
4     2020-12-17                 Games and Toys         555.65
...          ...                            ...            ...
9045  2024-04-20                      Computers       58353.68
9046  2024-04-20                 Games and Toys        1744.30
9047  2024-04-20                Home Appliances        1562.04
9048  2024-04-20  Music, Movies and Audio Books        4949.43
9049  2024-04-20                   TV and Video        9841.91

[9050 rows x 3 columns]

In [ ]:
%%sql
SELECT
  EXTRACT(YEAR FROM orderdate) AS order_year,
  ROUND(AVG(EXTRACT(DAY FROM AGE(deliverydate, orderdate))), 2) AS avg_prc_time,
  CAST(SUM(quantity * netprice * exchangerate) AS INTEGER) AS total_revenue
FROM
  sales
WHERE
  EXTRACT(YEAR FROM orderdate) >= EXTRACT(YEAR FROM CURRENT_DATE - INTERVAL '5 years')
GROUP BY
  order_year
ORDER BY
  order_year;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

5 rows affected.

  order_year avg_prc_time  total_revenue
0       2020         0.93       11218436
1       2021         1.36       21357977
2       2022         1.62       44864557
3       2023         1.75       33108566
4       2024         1.67        8396527

# **WINDOW FUNCTIONS**


1.   Syntax: OVER() and PARTITION BY, EXTRACT()
2.   Aggregation: SUM(), COUNT(), AVERAGE()
3.   Ranking: ROW_NUMBER(), RANK(), DENSE_RANK()
4.   Lag and Lead: FIRST_VALUE(), LAG, LEAD()
5.   Frame Clause: N PRECEDING, N FOLLOWING

## Basic Syntax

In [ ]:
%%sql

SELECT
  customerkey,
  orderkey,
  quantity * netprice * exchangerate AS net_revenue,
  AVG(quantity * netprice * exchangerate) OVER() AS avg_revenue_general,
  AVG(quantity * netprice * exchangerate) OVER(
    PARTITION BY customerkey
  ) AS avg_revenue_special
FROM
  sales
ORDER BY
  customerkey
LIMIT 15;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

15 rows affected.

,customerkey,orderkey,net_revenue,avg_revenue_general,avg_revenue_special
0,15,2259001,2217.41,1032.69,2217.41
1,180,3162018,1913.55,1032.69,836.74
2,180,3162018,71.36,1032.69,836.74
3,180,1305016,525.31,1032.69,836.74
4,185,1613010,1395.52,1032.69,1395.52
5,243,505008,287.67,1032.69,287.67
6,387,1451007,45.62,1032.69,517.32
7,387,1451007,97.05,1032.69,517.32
8,387,1451007,619.77,1032.69,517.32
9,387,1451007,1608.10,1032.69,517.32
10,387,3242015,446.44,1032.69,517.32
11,387,3242015,180.35,1032.69,517.32
12,387,3242015,362.44,1032.69,517.32
13,387,3242015,30.51,1032.69,517.32
14,387,2495044,1265.56,1032.69,517.32

In [ ]:
%%sql

SELECT
  customerkey,
  orderdate,
  quantity * netprice * exchangerate AS revenue,
  ROW_NUMBER() OVER(
    PARTITION BY
      customerkey
    ORDER BY
      quantity * netprice * exchangerate DESC
  ) AS rank,
  SUM(quantity * netprice * exchangerate) OVER(
    PARTITION BY
      customerkey
    ORDER BY
      orderdate,
      quantity * netprice * exchangerate DESC
  ) AS customer_running_total,
  SUM(quantity * netprice * exchangerate) OVER(
    PARTITION BY
      customerkey
  ) AS customer_total,
  (quantity * netprice * exchangerate) * 100 / SUM(quantity * netprice * exchangerate) OVER(
    PARTITION BY
      customerkey
  ) AS percentage
FROM
  sales
ORDER BY
  customerkey,
  orderdate
LIMIT
  15;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

15 rows affected.

,customerkey,orderdate,revenue,rank,customer_running_total,customer_total,percentage
0,15,2021-03-08,2217.41,1,2217.41,2217.41,100.00
1,180,2018-07-28,525.31,2,525.31,2510.22,20.93
2,180,2023-08-28,1913.55,1,2438.86,2510.22,76.23
3,180,2023-08-28,71.36,3,2510.22,2510.22,2.84
4,185,2019-06-01,1395.52,1,1395.52,1395.52,100.00
5,243,2016-05-19,287.67,1,287.67,287.67,100.00
6,387,2018-12-21,1608.10,1,1608.10,4655.84,34.54
7,387,2018-12-21,619.77,3,2227.87,4655.84,13.31
8,387,2018-12-21,97.05,7,2324.92,4655.84,2.08
9,387,2018-12-21,45.62,8,2370.54,4655.84,0.98
10,387,2021-10-30,1265.56,2,3636.10,4655.84,27.18
11,387,2023-11-16,446.44,4,4082.53,4655.84,9.59
12,387,2023-11-16,362.44,5,4444.98,4655.84,7.78
13,387,2023-11-16,180.35,6,4625.32,4655.84,3.87
14,387,2023-11-16,30.51,9,4655.84,4655.84,0.66

## Aggregation

In [ ]:
%%sql

SELECT
  orderdate,
  orderkey,
  linenumber,
  quantity * netprice * exchangerate AS revenue,
  SUM(quantity * netprice * exchangerate) OVER(
    PARTITION BY
      orderdate
    ORDER BY
      orderdate,
      orderkey,
      linenumber
  ) AS running_revenue,
  SUM(quantity * netprice * exchangerate) OVER(
    PARTITION BY
      orderdate
  ) AS daily_revenue,
  (quantity * netprice * exchangerate) * 100 / SUM(quantity * netprice * exchangerate) OVER(
    PARTITION BY
      orderdate
  ) AS percentage,
  ROW_NUMBER() OVER(
    PARTITION BY
      orderdate
    ORDER BY
      quantity * netprice * exchangerate DESC
  ) AS rank
FROM
  sales
ORDER BY
  orderdate,
  orderkey,
  linenumber
LIMIT 25;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

25 rows affected.

,orderdate,orderkey,linenumber,revenue,running_revenue,daily_revenue,percentage,rank
0,2015-01-01,1000,0,63.49,63.49,11640.80,0.55,18
1,2015-01-01,1000,1,423.28,486.77,11640.80,3.64,9
2,2015-01-01,1001,0,108.75,595.53,11640.80,0.93,16
3,2015-01-01,1002,0,1146.75,1742.27,11640.80,9.85,4
4,2015-01-01,1002,1,950.25,2692.52,11640.80,8.16,6
5,2015-01-01,1002,2,1302.91,3995.43,11640.80,11.19,3
6,2015-01-01,1002,3,58.73,4054.17,11640.80,0.50,20
7,2015-01-01,1003,0,224.98,4279.15,11640.80,1.93,13
8,2015-01-01,1004,0,263.11,4542.25,11640.80,2.26,10
9,2015-01-01,1004,1,578.52,5120.77,11640.80,4.97,7
10,2015-01-01,1004,2,9.65,5130.43,11640.80,0.08,24
11,2015-01-01,1004,3,2395.10,7525.52,11640.80,20.58,1
12,2015-01-01,1005,0,975.16,8500.68,11640.80,8.38,5
13,2015-01-01,1005,1,6.18,8506.86,11640.80,0.05,25
14,2015-01-01,1006,0,63.29,8570.15,11640.80,0.54,19
15,2015-01-01,1006,1,1552.32,10122.47,11640.80,13.34,2
16,2015-01-01,1007,0,142.42,10264.89,11640.80,1.22,14
17,2015-01-01,1007,1,11.43,10276.32,11640.80,0.10,23
18,2015-01-01,1007,2,32.11,10308.42,11640.80,0.28,22
19,2015-01-01,1007,3,142.42,10450.85,11640.80,1.22,15
20,2015-01-01,1007,4,67.61,10518.46,11640.80,0.58,17
21,2015-01-01,1007,5,37.51,10555.97,11640.80,0.32,21
22,2015-01-01,1008,0,247.97,10803.95,11640.80,2.13,12
23,2015-01-01,1008,1,574.05,11378.00,11640.80,4.93,8
24,2015-01-01,1008,2,262.80,11640.80,11640.80,2.26,11

In [ ]:
%%sql
-- Cohort analysis
-- In the concept of the cohort we designed it as a customers joins according to year.
-- In this analysis we try to find each year how much revenue and in which percentage come from cohort year customers and early year customers.
-- According to this analyse we can find how many customers joined us mentioned year and how much revenue give us and what is the percentage of revenue.

WITH cte_cohort_year AS
(
SELECT DISTINCT
  customerkey,
  EXTRACT(YEAR FROM MIN(orderdate) OVER(
      PARTITION BY
        customerkey
  )) AS cohort_year
FROM
  sales
ORDER BY
  customerkey
),

cte_main_table AS
(
SELECT DISTINCT
  EXTRACT(YEAR FROM s.orderdate) AS purchase_year,
  cte.cohort_year,
  SUM(quantity * netprice * exchangerate) OVER(
    PARTITION BY
      cte.cohort_year,
      EXTRACT(YEAR FROM s.orderdate)
  ) AS revenue
FROM
  sales s
  LEFT JOIN cte_cohort_year cte ON s.customerkey = cte.customerkey
)

SELECT
  *,
  SUM(revenue) OVER(
    PARTITION BY
      purchase_year
  ) AS total_revenue,
  revenue * 100 / SUM(revenue) OVER(
    PARTITION BY
      purchase_year
  ) AS percentage
FROM
  cte_main_table
ORDER BY
  purchase_year,
  cohort_year;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

55 rows affected.

   purchase_year cohort_year     revenue  total_revenue  percentage
0           2015        2015  7370979.48     7370979.48      100.00
1           2016        2015   392623.48    10383613.67        3.78
2           2016        2016  9990990.20    10383613.67       96.22
3           2017        2015   479841.31    13221339.05        3.63
4           2017        2016   497028.11    13221339.05        3.76
5           2017        2017 12244469.63    13221339.05       92.61
6           2018        2015  1069850.87    24667447.84        4.34
7           2018        2016  1074607.29    24667447.84        4.36
8           2018        2017  1407065.13    24667447.84        5.70
9           2018        2018 21115924.55    24667447.84       85.60
10          2019        2015  1235991.48    31818095.97        3.88
11          2019        2016  1565400.72    31818095.97        4.92
12          2019        2017  1764716.90    31818095.97        5.55
13          2019        2018  3229188.22    31818095.97       10.15
14          2019        2019 24022798.65    31818095.97       75.50
15          2020        2015   386489.60    11218435.79        3.45
16          2020        2016   474087.09    11218435.79        4.23
17          2020        2017   625928.03    11218435.79        5.58
18          2020        2018  1171126.65    11218435.79       10.44
19          2020        2019  1295044.99    11218435.79       11.54
20          2020        2020  7265759.44    11218435.79       64.77
21          2021        2015   872845.99    21357976.66        4.09
22          2021        2016   964417.85    21357976.66        4.52
23          2021        2017  1329858.72    21357976.66        6.23
24          2021        2018  2201262.39    21357976.66       10.31
25          2021        2019  2337594.77    21357976.66       10.94
26          2021        2020  1016399.07    21357976.66        4.76
27          2021        2021 12635597.87    21357976.66       59.16
28          2022        2015  1569787.72    44864557.21        3.50
29          2022        2016  2164681.10    44864557.21        4.82
30          2022        2017  2428882.80    44864557.21        5.41
31          2022        2018  4534295.81    44864557.21       10.11
32          2022        2019  4848980.74    44864557.21       10.81
33          2022        2020  1891708.40    44864557.21        4.22
34          2022        2021  3014082.50    44864557.21        6.72
35          2022        2022 24412138.13    44864557.21       54.41
36          2023        2015  1157633.91    33108565.51        3.50
37          2023        2016  1265242.63    33108565.51        3.82
38          2023        2017  1714010.18    33108565.51        5.18
39          2023        2018  3271753.92    33108565.51        9.88
40          2023        2019  3440099.20    33108565.51       10.39
41          2023        2020  1435051.04    33108565.51        4.33
42          2023        2021  2242369.63    33108565.51        6.77
43          2023        2022  4237220.04    33108565.51       12.80
44          2023        2023 14345184.96    33108565.51       43.33
45          2024        2015   356186.62     8396527.38        4.24
46          2024        2016   364066.76     8396527.38        4.34
47          2024        2017   464802.56     8396527.38        5.54
48          2024        2018   936833.89     8396527.38       11.16
49          2024        2019   751725.53     8396527.38        8.95
50          2024        2020   312983.02     8396527.38        3.73
51          2024        2021   495686.18     8396527.38        5.90
52          2024        2022  1223450.12     8396527.38       14.57
53          2024        2023   634143.37     8396527.38        7.55
54          2024        2024  2856649.33     8396527.38       34.02

In [ ]:
%%sql

WITH cte_cohort_year AS
(
SELECT DISTINCT
  customerkey,
  EXTRACT(YEAR FROM MIN(orderdate) OVER(
    PARTITION BY
      customerkey
  )) AS cohort_year,
  EXTRACT(YEAR FROM orderdate) AS business_year
FROM
  sales
ORDER BY
  customerkey
),

cte_customer_count AS
(
SELECT DISTINCT
  business_year,
  cohort_year,
  COUNT(customerkey) OVER(
    PARTITION BY
      cohort_year,
      business_year
  ) AS customer_count
FROM
  cte_cohort_year
ORDER BY
  business_year,
  cohort_year
)

SELECT
  *,
  SUM(customer_count) OVER(
    PARTITION BY
      business_year
  ) AS total_customers,
  CAST(customer_count * 100 / SUM(customer_count) OVER(
    PARTITION BY
      business_year
  ) AS REAL) AS percentage
FROM
  cte_customer_count;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

55 rows affected.

   business_year cohort_year  customer_count total_customers  percentage
0           2015        2015            2825            2825      100.00
1           2016        2015             126            3523        3.58
2           2016        2016            3397            3523       96.42
3           2017        2015             149            4391        3.39
4           2017        2016             174            4391        3.96
5           2017        2017            4068            4391       92.64
6           2018        2015             348            8641        4.03
7           2018        2016             374            8641        4.33
8           2018        2017             473            8641        5.47
9           2018        2018            7446            8641       86.17
10          2019        2015             388           10251        3.78
11          2019        2016             457           10251        4.46
12          2019        2017             570           10251        5.56
13          2019        2018            1081           10251       10.55
14          2019        2019            7755           10251       75.65
15          2020        2015             171            4656        3.67
16          2020        2016             205            4656        4.40
17          2020        2017             251            4656        5.39
18          2020        2018             475            4656       10.20
19          2020        2019             523            4656       11.23
20          2020        2020            3031            4656       65.10
21          2021        2015             295            7754        3.80
22          2021        2016             336            7754        4.33
23          2021        2017             450            7754        5.80
24          2021        2018             779            7754       10.05
25          2021        2019             873            7754       11.26
26          2021        2020             358            7754        4.62
27          2021        2021            4663            7754       60.14
28          2022        2015             600           16388        3.66
29          2022        2016             746           16388        4.55
30          2022        2017             943           16388        5.75
31          2022        2018            1644           16388       10.03
32          2022        2019            1700           16388       10.37
33          2022        2020             694           16388        4.23
34          2022        2021            1051           16388        6.41
35          2022        2022            9010           16388       54.98
36          2023        2015             499           13746        3.63
37          2023        2016             573           13746        4.17
38          2023        2017             738           13746        5.37
39          2023        2018            1407           13746       10.24
40          2023        2019            1439           13746       10.47
41          2023        2020             547           13746        3.98
42          2023        2021             889           13746        6.47
43          2023        2022            1764           13746       12.83
44          2023        2023            5890           13746       42.85
45          2024        2015             146            4097        3.56
46          2024        2016             183            4097        4.47
47          2024        2017             246            4097        6.00
48          2024        2018             426            4097       10.40
49          2024        2019             370            4097        9.03
50          2024        2020             163            4097        3.98
51          2024        2021             268            4097        6.54
52          2024        2022             561            4097       13.69
53          2024        2023             332            4097        8.10
54          2024        2024            1402            4097       34.22

In [ ]:
%%sql
-- Business terms
-- Customer Lifetime Value(LTV) - Total revenue generated by customer over time
-- Average Order Value(AOV) - Typical value spent per transaction
-- Revenue Per User - Average Revenue generated by each customer

SELECT
  s.customerkey,
  COUNT(s.customerkey) AS transactions,
  SUM(quantity * netprice * exchangerate) AS customer_ltv,
  AVG(quantity * netprice * exchangerate) AS customer_aov
FROM
  sales s
  LEFT JOIN customer c ON s.customerkey = c.customerkey
GROUP BY
  s.customerkey
LIMIT 10;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

   customerkey  transactions  customer_ltv  customer_aov
0           15             1       2217.41       2217.41
1          180             3       2510.22        836.74
2          185             1       1395.52       1395.52
3          243             1        287.67        287.67
4          387             9       4655.84        517.32
5          406             2       2193.42       1096.71
6          545             6       3551.47        591.91
7          649             6       4063.09        677.18
8          668             1        162.29        162.29
9          688             5      16909.04       3381.81

In [ ]:
%%sql

WITH customer_ltv AS
(
SELECT DISTINCT
  EXTRACT(YEAR FROM MIN(orderdate) OVER(
    PARTITION BY
      customerkey
  )) AS cohort_year,
  customerkey,
  COUNT(customerkey) OVER(
    PARTITION BY
      customerkey
  ) AS transactions,
  SUM(quantity * netprice * exchangerate) OVER(
    PARTITION BY
      customerkey
  ) AS customer_ltv
FROM
  sales
ORDER BY
  cohort_year,
  customerkey
)

SELECT
  *,
  AVG(customer_ltv) OVER(
    PARTITION BY
      cohort_year
  ) AS avg_cohort_ltv
FROM
  customer_ltv;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

49487 rows affected.

      cohort_year  customerkey  transactions  customer_ltv  avg_cohort_ltv
0            2015         4376             1        182.00         5271.59
1            2015         4403             3       9530.35         5271.59
2            2015         4925             5       6078.08         5271.59
3            2015         5729             1        192.16         5271.59
4            2015         6048             7       1903.89         5271.59
...           ...          ...           ...           ...             ...
49482        2024      2093965             3        475.22         2037.55
49483        2024      2095129             1        156.00         2037.55
49484        2024      2095691             1        326.00         2037.55
49485        2024      2096470             1        535.78         2037.55
49486        2024      2097541             3       1143.15         2037.55

[49487 rows x 5 columns]

When we use where with window function firstly where take action then window function performed.
But when we want to apply where after window function we should use cte

In [ ]:
%%sql

SELECT
  customerkey,
  MIN(orderdate) OVER(
    PARTITION BY
      customerkey
  ) AS cohort_year,
  orderdate
FROM
  sales
WHERE
  EXTRACT(YEAR FROM orderdate) >= '2020'
LIMIT 15;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

15 rows affected.

    customerkey cohort_year   orderdate
0            15  2021-03-08  2021-03-08
1           180  2023-08-28  2023-08-28
2           180  2023-08-28  2023-08-28
3           387  2021-10-30  2021-10-30
4           387  2021-10-30  2023-11-16
5           387  2021-10-30  2023-11-16
6           387  2021-10-30  2023-11-16
7           387  2021-10-30  2023-11-16
8           406  2021-11-06  2021-11-06
9           406  2021-11-06  2021-11-06
10          545  2023-07-01  2023-07-01
11          545  2023-07-01  2023-07-01
12          545  2023-07-01  2023-07-01
13          545  2023-07-01  2023-07-01
14          545  2023-07-01  2023-07-01

In [ ]:
%%sql

WITH cte AS
(
SELECT
  customerkey,
  MIN(orderdate) OVER(
    PARTITION BY
      customerkey
  ) AS cohort_year,
  orderdate
FROM
  sales
LIMIT 15
)

SELECT
  *
FROM
  cte
WHERE
  EXTRACT(YEAR FROM orderdate) >= '2020';

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

   customerkey cohort_year   orderdate
0           15  2021-03-08  2021-03-08
1          180  2018-07-28  2023-08-28
2          180  2018-07-28  2023-08-28
3          387  2018-12-21  2021-10-30
4          387  2018-12-21  2023-11-16
5          387  2018-12-21  2023-11-16
6          387  2018-12-21  2023-11-16
7          387  2018-12-21  2023-11-16

# **Window Functions - Ranking**
ROW_NUMBER()
RANK()
DENSE_RANK()

In [ ]:
%%sql
-- ORDER BY in window functions
--Running order count and running average revenue

SELECT
  customerkey,
  orderdate,
  quantity * netprice * exchangerate AS net_revenue,
  COUNT(*) OVER(
    PARTITION BY
      customerkey
    ORDER BY
      orderdate,
      linenumber
  ) AS running_order_count,
  AVG(quantity * netprice * exchangerate) OVER(
    PARTITION BY
      customerkey
    ORDER BY
      orderdate,
      linenumber
  ) AS running_avg_revenue
FROM
  sales
ORDER BY
  customerkey;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

199873 rows affected.

,customerkey,orderdate,net_revenue,running_order_count,running_avg_revenue
0,15,2021-03-08,2217.41,1,2217.41
1,180,2018-07-28,525.31,1,525.31
2,180,2023-08-28,71.36,2,298.33
3,180,2023-08-28,1913.55,3,836.74
4,185,2019-06-01,1395.52,1,1395.52
...,...,...,...,...,...
199868,2099711,2016-08-13,2067.75,1,2067.75
199869,2099711,2017-08-14,3940.92,2,3004.34
199870,2099743,2022-03-17,375.57,1,375.57
199871,2099743,2022-03-17,94.05,2,234.81
199872,2099743,2023-02-11,598.46,3,356.03

In [ ]:
%%sql
-- ROW_NUMBER() and ORDER BY
-- Assigning row numbers

SELECT
  ROW_NUMBER() OVER(
    PARTITION BY
      orderdate
    ORDER BY
      orderkey,
      linenumber
  ) AS row_num,
  *
FROM
  sales;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

199873 rows affected.

,row_num,orderkey,linenumber,orderdate,deliverydate,customerkey,storekey,productkey,quantity,unitprice,netprice,unitcost,currencycode,exchangerate
0,1,1000,0,2015-01-01,2015-01-01,947009,400,48,1,112.46,98.97,57.34,GBP,0.64
1,2,1000,1,2015-01-01,2015-01-01,947009,400,460,1,749.75,659.78,382.25,GBP,0.64
2,3,1001,0,2015-01-01,2015-01-01,1772036,430,1730,2,54.38,54.38,25.00,USD,1.00
3,4,1002,0,2015-01-01,2015-01-01,1518349,660,955,4,315.04,286.69,144.88,USD,1.00
4,5,1002,1,2015-01-01,2015-01-01,1518349,660,62,7,135.75,135.75,62.43,USD,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199868,93,3398034,1,2024-04-20,2024-04-21,664396,999999,1651,7,159.99,139.19,73.57,EUR,0.94
199869,94,3398034,2,2024-04-20,2024-04-21,664396,999999,1646,1,159.99,159.99,73.57,EUR,0.94
199870,95,3398035,0,2024-04-20,2024-04-22,267690,999999,1575,2,60.99,53.67,28.05,CAD,1.38
199871,96,3398035,1,2024-04-20,2024-04-22,267690,999999,415,5,326.00,293.40,166.20,CAD,1.38
199872,97,3398035,2,2024-04-20,2024-04-22,267690,999999,1693,6,6.88,6.88,3.16,CAD,1.38

In [ ]:
%%sql
-- ROW_NUMBER(), RANK() and DENSE_RANK()
-- Ranking Customer order quantity

SELECT
  customerkey,
  COUNT(*) AS total_orders,
  ROW_NUMBER() OVER(
    ORDER BY
      COUNT(*) DESC
  ),
  RANK() OVER(
    ORDER BY
      COUNT(*) DESC
  ),
  DENSE_RANK() OVER(
    ORDER BY
      COUNT(*) DESC
  )
FROM
  sales
GROUP BY
  customerkey
LIMIT 20;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

20 rows affected.

    customerkey  total_orders  row_number  rank  dense_rank
0       1834524            31           1     1           1
1       1375597            30           2     2           2
2        249557            27           3     3           3
3        459519            26           4     4           4
4       1495941            26           5     4           4
5       1801215            26           6     4           4
6       1219056            25           7     7           5
7        759419            24           8     8           6
8       1427444            24           9     8           6
9       1876222            24          10     8           6
10      2079681            22          11    11           7
11       578215            22          12    11           7
12      1743963            22          13    11           7
13      1780427            22          14    11           7
14      1496962            22          15    11           7
15      1552351            21          16    16           8
16      1390742            21          17    16           8
17      1071231            21          18    16           8
18      1289648            21          19    16           8
19      1295351            21          20    16           8

# **Window Functions - Lag and Lead**

In [ ]:
%%sql
-- LAG(), LEAD(), FIRST_VALUE(), LASt_VALUE(), NTH_VALUE()

WITH monthly_revenue AS
(
SELECT
  TO_CHAR(orderdate, 'YYYY-MM') AS month,
  SUM(quantity * netprice * exchangerate) AS revenue
FROM
  sales
WHERE
  EXTRACT(YEAR FROM orderdate) = '2023'
GROUP BY
  month
ORDER BY
  month
)

SELECT
  *,
  FIRST_VALUE(revenue) OVER(
    ORDER BY
      month
  ),
  LAST_VALUE(revenue) OVER(
    ORDER BY
      month
    ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING
  ),
  NTH_VALUE(revenue, 5) OVER(
    ORDER BY
      month
    ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING
  ),
  LAG(revenue) OVER(
    ORDER BY
      month
  ),
  LAG(revenue, 3) OVER(
    ORDER BY
      month
  ),
  LEAD(revenue) OVER(
    ORDER BY
      month
  ),
  LEAD(revenue, 2) OVER(
    ORDER BY
      month
  )
FROM
  monthly_revenue;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

12 rows affected.

,month,revenue,first_value,last_value,nth_value,lag,lag,lead,lead
0,2023-01,3664431.34,3664431.34,2928550.93,2943005.99,NaN,NaN,4465204.57,2244316.52
1,2023-02,4465204.57,3664431.34,2928550.93,2943005.99,3664431.34,NaN,2244316.52,1162796.16
2,2023-03,2244316.52,3664431.34,2928550.93,2943005.99,4465204.57,NaN,1162796.16,2943005.99
3,2023-04,1162796.16,3664431.34,2928550.93,2943005.99,2244316.52,3664431.34,2943005.99,2864500.03
4,2023-05,2943005.99,3664431.34,2928550.93,2943005.99,1162796.16,4465204.57,2864500.03,2337639.34
5,2023-06,2864500.03,3664431.34,2928550.93,2943005.99,2943005.99,2244316.52,2337639.34,2623919.79
6,2023-07,2337639.34,3664431.34,2928550.93,2943005.99,2864500.03,1162796.16,2623919.79,2622774.85
7,2023-08,2623919.79,3664431.34,2928550.93,2943005.99,2337639.34,2943005.99,2622774.85,2551322.61
8,2023-09,2622774.85,3664431.34,2928550.93,2943005.99,2623919.79,2864500.03,2551322.61,2700103.38
9,2023-10,2551322.61,3664431.34,2928550.93,2943005.99,2622774.85,2337639.34,2700103.38,2928550.93
10,2023-11,2700103.38,3664431.34,2928550.93,2943005.99,2551322.61,2623919.79,2928550.93,NaN
11,2023-12,2928550.93,3664431.34,2928550.93,2943005.99,2700103.38,2622774.85,NaN,NaN

In [ ]:
%%sql
-- Month-over-Month Revenue Growth

WITH monthly_revenue AS
(
SELECT
  TO_CHAR(orderdate, 'YYYY-MM') AS month,
  SUM(quantity * netprice * exchangerate) AS revenue
FROM
  sales
WHERE
  EXTRACT(YEAR FROM orderdate) = '2023'
GROUP BY
  month
ORDER BY
  month
)

SELECT
  *,
  COALESCE(100 * (revenue - LAG(revenue) OVER(ORDER BY month)) / LAG(revenue) OVER(ORDER BY month), 0) AS growth
FROM
  monthly_revenue;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

12 rows affected.

      month    revenue  growth
0   2023-01 3664431.34    0.00
1   2023-02 4465204.57   21.85
2   2023-03 2244316.52  -49.74
3   2023-04 1162796.16  -48.19
4   2023-05 2943005.99  153.10
5   2023-06 2864500.03   -2.67
6   2023-07 2337639.34  -18.39
7   2023-08 2623919.79   12.25
8   2023-09 2622774.85   -0.04
9   2023-10 2551322.61   -2.72
10  2023-11 2700103.38    5.83
11  2023-12 2928550.93    8.46

In [ ]:
%%sql
-- Cohortyear-over-Cohortyear Average LTV Growth

WITH cohort_year AS
(
SELECT
  customerkey,
  EXTRACT(YEAR FROM MIN(orderdate)) AS cohort_year,
  SUM(quantity * netprice * exchangerate) AS revenue
FROM
  sales
GROUP BY
  customerkey
ORDER BY
  customerkey
),
avg_ltv AS
(
SELECT
  cohort_year,
  AVG(revenue) AS avg_ltv
FROM
  cohort_year
GROUP BY
  cohort_year
ORDER BY
  cohort_year
)

SELECT
  *,
  COALESCE(100 * (avg_ltv - LAG(avg_ltv) OVER(ORDER BY cohort_year)) / LAG(avg_ltv) OVER(ORDER BY cohort_year), 0) AS ltv_growth
FROM
  avg_ltv;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

  cohort_year  avg_ltv  ltv_growth
0        2015  5271.59        0.00
1        2016  5404.92        2.53
2        2017  5403.08       -0.03
3        2018  4896.64       -9.37
4        2019  4731.95       -3.36
5        2020  3933.32      -16.88
6        2021  3943.33        0.25
7        2022  3315.52      -15.92
8        2023  2543.18      -23.29
9        2024  2037.55      -19.88

# **Window Functions - Frame Clauses**

In [ ]:
%%sql
--ROWS (RANGE{time-series} | GROUPS{tied values})
--- Defines window frame based on physical row postion
--- Counts actual rows before and after current row
--- Provides precise control over row inclusion
--------
--ROWS start_frame
--or
--ROWS BETWEEN start_frame AND end_frame
--------
--start_frame, end_frame
--CURRENT ROW -> just the current row
--UNBOUNDED PRECEEDING -> all rows from start to current
--UNBOUNDED FOLLOWING -> all rows from current to end
--N PRECEEDING/FOLLOWING -> N row before/after current row

WITH monthly_revenue AS
(
  SELECT
    TO_CHAR(orderdate, 'YYYY-MM') AS month,
    SUM(quantity * netprice * exchangerate) AS revenue
  FROM
    sales
  WHERE
    EXTRACT(YEAR FROM orderdate) = '2023'
  GROUP BY
    month
  ORDER BY
    month
)

SELECT
  *,
  AVG(revenue) OVER(
    ORDER BY
      month
    ROWS CURRENT ROW
  ) AS current_revenue,
  AVG(revenue) OVER(
    ORDER BY
      month
    ROWS BETWEEN 1 PRECEDING AND CURRENT ROW
  ) AS preceeding_1_month,
  AVG(revenue) OVER(
    ORDER BY
      month
    ROWS BETWEEN CURRENT ROW AND 1 FOLLOWING
  ) AS following_1_month,
  AVG(revenue) OVER(
    ORDER BY
      month
    ROWS BETWEEN 1 PRECEDING AND 1 FOLLOWING
  ) AS pre_cur_fol_month,
  AVG(revenue) OVER(
    ORDER BY
      month
    ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW
  ) AS unbounded_pre_month,
  AVG(revenue) OVER(
    ORDER BY
      month
    ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING
  ) AS unbounded_foll_month,
  AVG(revenue) OVER(
    ORDER BY
      month
    ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING
  ) AS full_list_month
FROM
  monthly_revenue;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

12 rows affected.

,month,revenue,current_revenue,preceeding_1_month,following_1_month,pre_cur_fol_month,unbounded_pre_month,unbounded_foll_month,full_list_month
0,2023-01,3664431.34,3664431.34,3664431.34,4064817.96,4064817.96,3664431.34,2759047.13,2759047.13
1,2023-02,4465204.57,4465204.57,4064817.96,3354760.54,3457984.14,4064817.96,2676739.47,2759047.13
2,2023-03,2244316.52,2244316.52,3354760.54,1703556.34,2624105.75,3457984.14,2497892.96,2759047.13
3,2023-04,1162796.16,1162796.16,1703556.34,2052901.08,2116706.22,2884187.15,2526068.12,2759047.13
4,2023-05,2943005.99,2943005.99,2052901.08,2903753.01,2323434.06,2895950.92,2696477.11,2759047.13
5,2023-06,2864500.03,2864500.03,2903753.01,2601069.68,2715048.45,2890709.10,2661258.70,2759047.13
6,2023-07,2337639.34,2337639.34,2601069.68,2480779.57,2608686.39,2811699.14,2627385.15,2759047.13
7,2023-08,2623919.79,2623919.79,2480779.57,2623347.32,2528111.33,2788226.72,2685334.31,2759047.13
8,2023-09,2622774.85,2622774.85,2623347.32,2587048.73,2599339.08,2769843.18,2700687.94,2759047.13
9,2023-10,2551322.61,2551322.61,2587048.73,2625712.99,2624733.61,2747991.12,2726658.97,2759047.13
10,2023-11,2700103.38,2700103.38,2625712.99,2814327.15,2726658.97,2743637.69,2814327.15,2759047.13
11,2023-12,2928550.93,2928550.93,2814327.15,2928550.93,2814327.15,2759047.13,2928550.93,2759047.13

# **VIEWS**

In [ ]:
%%sql
-- Views used for simplifing complex queries by storing them in reusable format
-- When so many queries use same logic we write one time and use anytime we need
-- Enhance security by restricting access to specific rows and columns
-- Improves maintainability by centralizing changes to the query logic

CREATE OR REPLACE VIEW daily_revenue AS
SELECT
  orderdate,
  SUM(quantity * netprice * exchangerate) AS revenue
FROM
  sales
GROUP BY
  orderdate
ORDER BY
  orderdate;

SELECT
  *
FROM
  daily_revenue;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

3294 rows affected.

       orderdate  revenue
0     2015-01-01 11640.80
1     2015-01-02  5890.40
2     2015-01-03 19796.67
3     2015-01-05 12406.27
4     2015-01-06 10349.87
...          ...      ...
3289  2024-04-16 25098.99
3290  2024-04-17 32938.67
3291  2024-04-18 28408.76
3292  2024-04-19 48386.88
3293  2024-04-20 96879.43

[3294 rows x 2 columns]

# **Q2: Cohort Analysis**

In [13]:
%%sql

--DROP VIEW cohort_analysis;

CREATE OR REPLACE VIEW cohort_analysis AS
SELECT DISTINCT
  -- c.givenname AS name,
  -- c.surname AS surname,
  CONCAT(TRIM(c.givenname), ' ', TRIM(c.surname)) AS full_name,
  c.age AS age,
  c.countryfull AS country,
  s.customerkey,
  s.orderdate,
  SUM(quantity * netprice * exchangerate) OVER(
    PARTITION BY
      s.customerkey,
      orderdate
  ) AS total_revenue,
  COUNT(*) OVER(
    PARTITION BY
      s.customerkey,
      orderdate
  ) AS order_count,
  MIN(orderdate) OVER(
    PARTITION BY
      s.customerkey
  ) AS first_purchase_date,
  EXTRACT(YEAR FROM MIN(orderdate) OVER(PARTITION BY s.customerkey)) AS cohort_year
FROM
 sales s
 LEFT JOIN customer c ON s.customerkey = c.customerkey
ORDER BY
  customerkey,
  orderdate;

SELECT * FROM cohort_analysis;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

83099 rows affected.

,full_name,age,country,customerkey,orderdate,total_revenue,order_count,first_purchase_date,cohort_year
0,Julian McGuigan,55,Australia,15,2021-03-08,2217.41,1,2021-03-08,2021
1,Gabriel Bosanquet,65,Australia,180,2018-07-28,525.31,1,2018-07-28,2018
2,Gabriel Bosanquet,65,Australia,180,2023-08-28,1984.90,2,2018-07-28,2018
3,Gabrielle Castella,40,Australia,185,2019-06-01,1395.52,1,2019-06-01,2019
4,Maya Atherton,66,Australia,243,2016-05-19,287.67,1,2016-05-19,2016
...,...,...,...,...,...,...,...,...,...
83094,Phillipp Maier,54,United States,2099697,2022-09-13,38.20,3,2022-09-13,2022
83095,Katerina Pavlícková,80,United States,2099711,2016-08-13,2067.75,1,2016-08-13,2016
83096,Katerina Pavlícková,80,United States,2099711,2017-08-14,3940.92,1,2016-08-13,2016
83097,Luciana Almonte,21,United States,2099743,2022-03-17,469.62,2,2022-03-17,2022
83098,Luciana Almonte,21,United States,2099743,2023-02-11,598.46,1,2022-03-17,2022

In [ ]:
%%sql

SELECT
  cohort_year,
  SUM(total_revenue) AS cohort_revenue,
  COUNT(DISTINCT customerkey) AS customer_count,
  SUM(total_revenue) / COUNT(DISTINCT customerkey) AS avg_customer_revenue
FROM
  cohort_analysis
WHERE
  orderdate = first_purchase_date    -- Because most of the orders are made in the first date approximately 60%
GROUP BY
  cohort_year;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

  cohort_year  cohort_revenue  customer_count  avg_customer_revenue
0        2015      7245612.98            2825               2564.82
1        2016      9839134.34            3397               2896.42
2        2017     11771496.31            4068               2893.68
3        2018     19773770.56            7446               2655.62
4        2019     22245058.22            7755               2868.48
5        2020      7058614.52            3031               2328.81
6        2021     11974082.36            4663               2567.89
7        2022     21507554.55            9010               2387.08
8        2023     12890580.84            5890               2188.55
9        2024      2764779.66            1402               1972.03

In [ ]:
%%sql
-- Monthly net revenue and customers
SELECT
  DATE_TRUNC('month', orderdate)::DATE AS year_month,
  SUM(total_revenue) AS monthly_revenue,
  COUNT(DISTINCT customerkey) AS customer_count,
  SUM(total_revenue) / COUNT(DISTINCT customerkey) AS avg_customer_revenue
FROM
  cohort_analysis
GROUP BY
  year_month
ORDER BY
  year_month;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

112 rows affected.

     year_month  monthly_revenue  customer_count  avg_customer_revenue
0    2015-01-01        384092.66             200               1920.46
1    2015-02-01        706374.12             291               2427.40
2    2015-03-01        332961.59             139               2395.41
3    2015-04-01        160767.00              78               2061.12
4    2015-05-01        548632.63             236               2324.71
..          ...              ...             ...                   ...
107  2023-12-01       2928550.93            1484               1973.42
108  2024-01-01       2677498.55            1340               1998.13
109  2024-02-01       3542322.55            1718               2061.89
110  2024-03-01       1692854.89             877               1930.28
111  2024-04-01        483851.39             246               1966.88

[112 rows x 4 columns]

# **Data Cleaning and String Formatting**

## coalesce() and nullif()

## Spending Customers vs All customers
## Coalesce for Average Revenue

In [ ]:
%%sql

--coalesce(exp1, exp2, ... default_value) -> For example we need data cleaning and this function gives us the first non-null value
--nullif(exp1, default_value) -> if two value equal result give us null, if not equal give us exp1

WITH cleaned_data AS
(
  SELECT
    c.customerkey,
    SUM(quantity * netprice * exchangerate) AS all_customers_ltv,
    COALESCE(SUM(quantity * netprice * exchangerate), 0) AS cleaned_all_customers_ltv
  FROM
    customer c
  LEFT JOIN
    sales s ON c.customerkey = s.customerkey
  GROUP BY
    c.customerkey
  ORDER BY
    c.customerkey
)

SELECT
  AVG(cleaned_all_customers_ltv) AS all_customers_avg_ltv,
  AVG(all_customers_ltv) AS spending_customers_avg_ltv
  -- AVG(NULLIF(cleaned_all_customer_ltv, 0)) AS spending_customer_ltv      This is the how nullif works, it is the kinda opposite of coalesce
FROM
  cleaned_data;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

1 rows affected.

   all_customers_avg_ltv  spending_customers_avg_ltv
0                1965.97                     4170.94

# String Formatting
## concat(), lower(), upper(), trim()

In [10]:
%%sql

SELECT
	'VuGaR NaSiRLi' AS string,
	LOWER('VuGaR NaSiRLi'),
	UPPER('VuGaR NaSiRLi'),
  TRIM(BOTH '@@' FROM '@@VuGaR NaSiRLi@@'), -- BOTH is default mode
  TRIM(LEADING '@@' FROM '@@VuGaR NaSiRLi@@'),
  TRIM(TRAILING '@@' FROM '@@VuGaR NaSiRLi@@'),
  CONCAT('Vugar', ' ', 'Nasirli');

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

1 rows affected.

,string,lower,upper,btrim,ltrim,rtrim,concat
0,VuGaR NaSiRLi,vugar nasirli,VUGAR NASIRLI,VuGaR NaSiRLi,VuGaR NaSiRLi@@,@@VuGaR NaSiRLi,Vugar Nasirli

# **Q1: Customer Segmentation**
## **Who are our most valuable customers**

In [23]:
%%sql

WITH ltv_table AS
(
SELECT
  customerkey,
  full_name,
  SUM(total_revenue) AS customer_ltv
FROM
  cohort_analysis
GROUP BY
  customerkey,
  full_name
ORDER BY
  customerkey
),

percentiles AS
(
SELECT
  PERCENTILE_CONT(0.25) WITHIN GROUP (ORDER BY customer_ltv) AS perc_25,
  PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY customer_ltv) AS perc_75
FROM
  ltv_table
)

SELECT
  ltv.*,
  CASE
    WHEN customer_ltv < perc_25 THEN '1 - Low-Value'
    WHEN customer_ltv BETWEEN perc_25 AND perc_75 THEN '2 - Mid-Value'
    WHEN customer_ltv > perc_75 THEN '3 - High-Value'
  END AS customer_segment
FROM
  ltv_table ltv
  CROSS JOIN percentiles perc
LIMIT 11;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

11 rows affected.

    customerkey           full_name  customer_ltv customer_segment
0            15     Julian McGuigan       2217.41    2 - Mid-Value
1           180   Gabriel Bosanquet       2510.22    2 - Mid-Value
2           185  Gabrielle Castella       1395.52    2 - Mid-Value
3           243       Maya Atherton        287.67    1 - Low-Value
4           387    Tahlia Underwood       4655.84    2 - Mid-Value
5           406       Oliver Corrie       2193.42    2 - Mid-Value
6           545         Jordan Batt       3551.47    2 - Mid-Value
7           649         Katie Clint       4063.09    2 - Mid-Value
8           668       Elijah Culpin        162.29    1 - Low-Value
9           688    Tahlia Fergusson      16909.04   3 - High-Value
10          864        Jake McGahey      11367.19   3 - High-Value

In [22]:
%%sql

WITH ltv_table AS
(
SELECT
  customerkey,
  full_name,
  SUM(total_revenue) AS customer_ltv
FROM
  cohort_analysis
GROUP BY
  customerkey,
  full_name
ORDER BY
  customerkey
),

percentiles AS
(
SELECT
  PERCENTILE_CONT(0.25) WITHIN GROUP (ORDER BY customer_ltv) AS perc_25,
  PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY customer_ltv) AS perc_75
FROM
  ltv_table
),

customer_segments AS
(
SELECT
  ltv.*,
  CASE
    WHEN customer_ltv < perc_25 THEN '1 - Low-Value'
    WHEN customer_ltv BETWEEN perc_25 AND perc_75 THEN '2 - Mid-Value'
    WHEN customer_ltv > perc_75 THEN '3 - High-Value'
  END AS customer_segment
FROM
  ltv_table ltv
  CROSS JOIN percentiles perc
)

SELECT
  customer_segment,
  SUM(customer_ltv) AS total_ltv,
  SUM(customer_ltv) / (SELECT SUM(customer_ltv) FROM ltv_table) AS ltv_percent,
  COUNT(customerkey) AS customer_count,
  SUM(customer_ltv) / COUNT(customerkey) AS avg_ltv
FROM
  customer_segments
GROUP BY
  customer_segment
ORDER BY
  customer_segment DESC;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

3 rows affected.

  customer_segment    total_ltv  ltv_percent  customer_count  avg_ltv
0   3 - High-Value 135429277.27         0.66           12372 10946.43
1    2 - Mid-Value  66636451.79         0.32           24743  2693.14
2    1 - Low-Value   4341809.53         0.02           12372   350.94