<a href="https://colab.research.google.com/github/Vugar-Nasirli/Postgre_SQL/blob/main/Resources/Blank_SQL_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intermediate SQL Topics with PostgreSQL

#### Import Libraries & Database

In [1]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Update package installer
    !sudo apt-get update -qq > /dev/null 2>&1

    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

# DB Review

In [ ]:
%%sql
SELECT * FROM currencyexchange;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

91325 rows affected.

             date fromcurrency tocurrency  exchange
0      2015-01-01          AUD        AUD      1.00
1      2015-01-01          AUD        CAD      0.95
2      2015-01-01          AUD        EUR      0.67
3      2015-01-01          AUD        GBP      0.53
4      2015-01-01          AUD        USD      0.82
...           ...          ...        ...       ...
91320  2024-12-31          USD        AUD      1.55
91321  2024-12-31          USD        CAD      1.35
91322  2024-12-31          USD        EUR      0.92
91323  2024-12-31          USD        GBP      0.78
91324  2024-12-31          USD        USD      1.00

[91325 rows x 4 columns]

In [ ]:
%%sql
SELECT * FROM date;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

3653 rows affected.

,date,datekey,year,yearquarter,yearquarternumber,quarter,yearmonth,yearmonthshort,yearmonthnumber,month,monthshort,monthnumber,dayofweek,dayofweekshort,dayofweeknumber,workingday,workingdaynumber
0,2015-01-01,20150101,2015,Q1-2015,8061,Q1,January 2015,Jan 2015,24181,January,Jan,1,Thursday,Thu,5,0,0
1,2015-01-02,20150102,2015,Q1-2015,8061,Q1,January 2015,Jan 2015,24181,January,Jan,1,Friday,Fri,6,1,1
2,2015-01-03,20150103,2015,Q1-2015,8061,Q1,January 2015,Jan 2015,24181,January,Jan,1,Saturday,Sat,7,0,1
3,2015-01-04,20150104,2015,Q1-2015,8061,Q1,January 2015,Jan 2015,24181,January,Jan,1,Sunday,Sun,1,0,1
4,2015-01-05,20150105,2015,Q1-2015,8061,Q1,January 2015,Jan 2015,24181,January,Jan,1,Monday,Mon,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3648,2024-12-27,20241227,2024,Q4-2024,8100,Q4,December 2024,Dec 2024,24300,December,Dec,12,Friday,Fri,6,1,2507
3649,2024-12-28,20241228,2024,Q4-2024,8100,Q4,December 2024,Dec 2024,24300,December,Dec,12,Saturday,Sat,7,0,2507
3650,2024-12-29,20241229,2024,Q4-2024,8100,Q4,December 2024,Dec 2024,24300,December,Dec,12,Sunday,Sun,1,0,2507
3651,2024-12-30,20241230,2024,Q4-2024,8100,Q4,December 2024,Dec 2024,24300,December,Dec,12,Monday,Mon,2,1,2508
3652,2024-12-31,20241231,2024,Q4-2024,8100,Q4,December 2024,Dec 2024,24300,December,Dec,12,Tuesday,Tue,3,1,2509

In [ ]:
%%sql
SELECT * FROM customer;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

104990 rows affected.

,customerkey,geoareakey,startdt,enddt,continent,gender,title,givenname,middleinitial,surname,...,zipcode,country,countryfull,birthday,age,occupation,company,vehicle,latitude,longitude
0,15,4,1990-09-10,2034-07-29,Australia,male,Mr.,Julian,A,McGuigan,...,4357,AU,Australia,1965-03-24,55,Border Patrol agent,Cut Rite Lawn Care,2000 Peugeot Kart Up,-27.83,151.17
1,23,8,1995-08-11,2045-01-26,Australia,female,Ms.,Rose,H,Dash,...,6055,AU,Australia,1990-05-10,30,Agricultural and food scientist,Rack N Sack,2005 Volvo XC90,-31.92,116.05
2,36,2,1992-03-12,2044-05-14,Australia,female,Ms.,Annabelle,J,Townsend,...,2304,AU,Australia,1964-07-16,56,Special education teacher,id Boutiques,1999 Lancia Lybra,-32.88,151.71
3,120,6,1983-07-23,2033-08-09,Australia,male,Mr.,Jamie,H,Hetherington,...,7256,AU,Australia,1946-12-11,74,Dental laboratory technician,Showbiz Pizza Place,2006 Dodge Durango,-39.77,144.02
4,180,7,1987-11-26,2026-10-14,Australia,male,Mr.,Gabriel,P,Bosanquet,...,3505,AU,Australia,1955-04-24,65,Administrative support specialist,Dubrow's Cafeteria,1995 Morgan Plus 4,-34.13,142.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104985,2099639,580,1988-12-05,2016-07-02,North America,male,Mr.,Miroslav,M,Slach,...,62550,US,United States,1945-04-30,75,Placement specialist,Strength Gurus,2006 Suzuki Sea Forenza Wagon,39.59,-88.89
104986,2099656,567,1997-04-07,2043-01-10,North America,male,Mr.,Wilfredo,A,Lozada,...,35404,US,United States,1945-08-24,75,Industrial economist,Williams Bros.,2012 Mercedes-Benz E,33.17,-87.51
104987,2099697,570,2003-03-17,2043-03-02,North America,male,Mr.,Phillipp,S,Maier,...,93401,US,United States,1966-12-08,54,Mail sorter,Excella,2010 Subaru Tribeca,35.23,-120.59
104988,2099711,591,1980-08-26,2043-04-27,North America,female,Mrs.,Katerina,M,Pavlícková,...,39401,US,United States,1941-01-01,80,Light truck driver,Lawnscape Garden Maintenance,2006 Bentley Arnage,31.26,-89.19
104989,2099743,591,1985-04-01,2045-12-25,North America,female,Ms.,Luciana,N,Almonte,...,39095,US,United States,2000-02-22,21,Cabinetmaker,Frank's Nursery & Crafts,1995 Subaru Vivio,33.06,-90.02

In [ ]:
%%sql
SELECT * FROM sales;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

199873 rows affected.

,orderkey,linenumber,orderdate,deliverydate,customerkey,storekey,productkey,quantity,unitprice,netprice,unitcost,currencycode,exchangerate
0,1000,0,2015-01-01,2015-01-01,947009,400,48,1,112.46,98.97,57.34,GBP,0.64
1,1000,1,2015-01-01,2015-01-01,947009,400,460,1,749.75,659.78,382.25,GBP,0.64
2,1001,0,2015-01-01,2015-01-01,1772036,430,1730,2,54.38,54.38,25.00,USD,1.00
3,1002,0,2015-01-01,2015-01-01,1518349,660,955,4,315.04,286.69,144.88,USD,1.00
4,1002,1,2015-01-01,2015-01-01,1518349,660,62,7,135.75,135.75,62.43,USD,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
199868,3398034,1,2024-04-20,2024-04-21,664396,999999,1651,7,159.99,139.19,73.57,EUR,0.94
199869,3398034,2,2024-04-20,2024-04-21,664396,999999,1646,1,159.99,159.99,73.57,EUR,0.94
199870,3398035,0,2024-04-20,2024-04-22,267690,999999,1575,2,60.99,53.67,28.05,CAD,1.38
199871,3398035,1,2024-04-20,2024-04-22,267690,999999,415,5,326.00,293.40,166.20,CAD,1.38
199872,3398035,2,2024-04-20,2024-04-22,267690,999999,1693,6,6.88,6.88,3.16,CAD,1.38

In [ ]:
%%sql
SELECT * FROM store;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

74 rows affected.

,storekey,storecode,geoareakey,countrycode,countryname,state,opendate,closedate,description,squaremeters,status
0,10,1,1,AU,Australia,Australian Capital Territory,2008-01-01,None,Contoso Store Australian Capital Territory,595.00,None
1,20,2,3,AU,Australia,Northern Territory,2008-01-12,2016-07-07,Contoso Store Northern Territory,665.00,Closed
2,30,3,5,AU,Australia,South Australia,2012-01-07,2015-08-08,Contoso Store South Australia,2000.00,Restructured
3,35,3,5,AU,Australia,South Australia,2015-12-08,None,Contoso Store South Australia,3000.00,None
4,40,4,6,AU,Australia,Tasmania,2010-01-01,None,Contoso Store Tasmania,2000.00,None
...,...,...,...,...,...,...,...,...,...,...,...
69,630,63,610,US,United States,Utah,2008-03-06,2019-11-03,Contoso Store Utah,2000.00,None
70,650,65,573,US,United States,Washington DC,2010-01-01,None,Contoso Store Washington DC,1330.00,None
71,660,66,615,US,United States,West Virginia,2012-01-01,None,Contoso Store West Virginia,1785.00,None
72,670,67,616,US,United States,Wyoming,2014-01-01,None,Contoso Store Wyoming,840.00,None
73,999999,-1,-1,--,Online,Online,2010-01-01,None,Online store,NaN,None

In [ ]:
%%sql
SELECT * FROM product;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

2517 rows affected.

,productkey,productcode,productname,manufacturer,brand,color,weightunit,weight,cost,price,categorykey,categoryname,subcategorykey,subcategoryname
0,1,101001,Contoso 512MB MP3 Player E51 Silver,"Contoso, Ltd",Contoso,Silver,ounces,4.80,6.62,12.99,1,Audio,101,MP4&MP3
1,2,101002,Contoso 512MB MP3 Player E51 Blue,"Contoso, Ltd",Contoso,Blue,ounces,4.10,6.62,12.99,1,Audio,101,MP4&MP3
2,3,101003,Contoso 1G MP3 Player E100 White,"Contoso, Ltd",Contoso,White,ounces,4.50,7.40,14.52,1,Audio,101,MP4&MP3
3,4,101004,Contoso 2G MP3 Player E200 Silver,"Contoso, Ltd",Contoso,Silver,ounces,4.50,11.00,21.57,1,Audio,101,MP4&MP3
4,5,101005,Contoso 2G MP3 Player E200 Red,"Contoso, Ltd",Contoso,Red,ounces,2.40,11.00,21.57,1,Audio,101,MP4&MP3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2512,2513,505026,Contoso Bluetooth Active Headphones L15 Red,"Contoso, Ltd",Contoso,Red,ounces,12.80,43.07,129.99,5,Cell phones,505,Cell phones Accessories
2513,2514,505027,Contoso Bluetooth Active Headphones L15 White,"Contoso, Ltd",Contoso,White,ounces,12.80,43.07,129.99,5,Cell phones,505,Cell phones Accessories
2514,2515,505028,Contoso In-Line Coupler E180 White,"Contoso, Ltd",Contoso,White,ounces,1.00,1.71,3.35,5,Cell phones,505,Cell phones Accessories
2515,2516,505029,Contoso In-Line Coupler E180 Black,"Contoso, Ltd",Contoso,Black,ounces,1.00,1.71,3.35,5,Cell phones,505,Cell phones Accessories
2516,2517,505030,Contoso In-Line Coupler E180 Silver,"Contoso, Ltd",Contoso,Silver,ounces,1.00,1.71,3.35,5,Cell phones,505,Cell phones Accessories

In [ ]:
%%sql
SELECT
  s.orderkey,
  s.linenumber,
  s.orderdate,
  p.productname,
  st.description AS store_name,
  c.givenname AS customer_name,
  s.netprice * s.exchangerate AS netincome_usd,
  CASE
    WHEN s.netprice * s.exchangerate > 500 THEN 'HIGH' ELSE 'LOW'
  END AS incomerate
FROM
  sales s
LEFT JOIN
  product p ON s.productkey = p.productkey
LEFT JOIN
  customer c ON s.customerkey = c.customerkey
LEFT JOIN
  store st ON s.storekey = st.storekey
WHERE
  s.orderdate::date >= '2024-01-01';

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10131 rows affected.

,orderkey,linenumber,orderdate,productname,store_name,customer_name,netincome_usd,incomerate
0,3288000,0,2024-01-01,Contoso Rubberized Snap-On Cover Hard Case Cel...,Online store,Leonard,6.28,LOW
1,3288020,1,2024-01-01,WWI Wireless Bluetooth Stereo Headphones M270 ...,Contoso Store Flevoland,Sundus,104.07,LOW
2,3288021,0,2024-01-01,The Phone Company Touch Screen Phones Infrared...,Contoso Store Enna,Marilena,247.06,LOW
3,3288021,1,2024-01-01,Contoso 16GB New Generation MP5 Player M1650 B...,Contoso Store Enna,Marilena,188.96,LOW
4,3288022,0,2024-01-01,Fabrikam Laptop12 M2000 White,Online store,Daniel,446.18,LOW
...,...,...,...,...,...,...,...,...
10126,3397003,1,2024-04-19,SV Hand Games men M30 Red,Contoso Store Northwest Territories,John,9.47,LOW
10127,3397003,2,2024-04-19,Adventure Works Desktop PC1.80 ED182 Brown,Contoso Store Northwest Territories,John,591.86,HIGH
10128,3397004,0,2024-04-19,Contoso DVD 55DVD Storage Binder M56 Red,Online store,Petr,11.01,LOW
10129,3397005,0,2024-04-19,Adventure Works LCD19 E108 Black,Online store,Owen,191.36,LOW
10130,3397006,0,2024-04-19,MGS Hand Games for kids E300 Red,Online store,Judith,4.79,LOW

# **Pivoting with Case and Aggregation functions**

In [ ]:
%%sql
SELECT
  orderdate,
  COUNT(DISTINCT customerkey) AS total_customers
FROM
  sales
WHERE
  EXTRACT (YEAR FROM orderdate) = '2023'
GROUP BY
  orderdate;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

364 rows affected.

      orderdate  total_customers
0    2023-01-01               12
1    2023-01-02               49
2    2023-01-03               64
3    2023-01-04               78
4    2023-01-05               87
..          ...              ...
359  2023-12-27               73
360  2023-12-28               75
361  2023-12-29               55
362  2023-12-30               91
363  2023-12-31                9

[364 rows x 2 columns]

In [ ]:
%%sql
SELECT DISTINCT
  continent
FROM
  customer;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

3 rows affected.

       continent
0         Europe
1  North America
2      Australia

In [ ]:
%%sql
SELECT
  s.orderdate,
  COUNT(DISTINCT CASE WHEN c.continent = 'Europe' THEN s.customerkey END) AS eu_customers,
  COUNT(DISTINCT CASE WHEN c.continent = 'Australia' THEN s.customerkey END) AS au_customers,
  COUNT(DISTINCT CASE WHEN c.continent = 'North America' THEN s.customerkey END) AS na_customers
FROM
  sales s
LEFT JOIN
  customer c ON s.customerkey = c.customerkey
WHERE
  EXTRACT(YEAR FROM s.orderdate) = '2023'
GROUP BY
  s.orderdate;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

364 rows affected.

      orderdate  eu_customers  au_customers  na_customers
0    2023-01-01             6             1             5
1    2023-01-02            15             3            31
2    2023-01-03            17             3            44
3    2023-01-04            28             4            46
4    2023-01-05            22             8            57
..          ...           ...           ...           ...
359  2023-12-27            26             6            41
360  2023-12-28            24             7            44
361  2023-12-29            19             4            32
362  2023-12-30            25            16            50
363  2023-12-31             1             0             8

[364 rows x 4 columns]

In [ ]:
%%sql
SELECT DISTINCT
  categoryname
FROM
  product;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

                    categoryname
0                          Audio
1                    Cell phones
2        Cameras and camcorders
3                   TV and Video
4                Home Appliances
5                 Games and Toys
6  Music, Movies and Audio Books
7                      Computers

In [ ]:
%%sql
SELECT
  p.categoryname,
  SUM(CASE WHEN EXTRACT(YEAR FROM s.orderdate) = '2022' THEN s.quantity * s.netprice * exchangerate END) AS total_net_revenue_2022,
  SUM(CASE WHEN EXTRACT(YEAR FROM s.orderdate) = '2023' THEN s.quantity * s.netprice * exchangerate END) AS total_net_revenue_2023
FROM
  product p
LEFT JOIN
  sales s ON p.productkey = s.productkey
GROUP BY
  p.categoryname;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

,categoryname,total_net_revenue_2022,total_net_revenue_2023
0,Audio,766938.21,688690.18
1,Cell phones,8119665.07,6002147.63
2,Cameras and camcorders,2382532.56,1983546.29
3,TV and Video,5815336.61,4412178.23
4,Home Appliances,6612446.68,5919992.87
5,Games and Toys,316127.30,270374.96
6,"Music, Movies and Audio Books",2989297.28,2180768.13
7,Computers,17862213.49,11650867.21

# Statistical Aggregation

In [ ]:
%%sql
SELECT
  p.categoryname,
  AVG(CASE WHEN EXTRACT(YEAR FROM s.orderdate) = '2022' THEN s.quantity * s.netprice * exchangerate END) AS avg_net_revenue_2022,
  AVG(CASE WHEN EXTRACT(YEAR FROM s.orderdate) = '2023' THEN s.quantity * s.netprice * exchangerate END) AS avg_net_revenue_2023
FROM
  product p
LEFT JOIN
  sales s ON p.productkey = s.productkey
GROUP BY
  p.categoryname;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

                    categoryname  avg_net_revenue_2022  avg_net_revenue_2023
0                          Audio                392.30                425.38
1                    Cell phones                722.20                623.28
2        Cameras and camcorders                1210.02               1210.96
3                   TV and Video               1535.61               1687.90
4                Home Appliances               1755.36               1886.55
5                 Games and Toys                 81.29                 80.83
6  Music, Movies and Audio Books                386.61                334.58
7                      Computers               1565.62               1292.39

In [ ]:
%%sql
SELECT
  p.categoryname,
  MIN(CASE WHEN EXTRACT(YEAR FROM s.orderdate) = '2022' THEN s.quantity * s.netprice * exchangerate END) AS min_net_revenue_2022,
  MIN(CASE WHEN EXTRACT(YEAR FROM s.orderdate) = '2023' THEN s.quantity * s.netprice * exchangerate END) AS min_net_revenue_2023
FROM
  product p
LEFT JOIN
  sales s ON p.productkey = s.productkey
GROUP BY
  p.categoryname;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

                    categoryname  min_net_revenue_2022  min_net_revenue_2023
0                          Audio                  9.31                 10.85
1                    Cell phones                  2.53                  2.28
2        Cameras and camcorders                   6.74                  5.98
3                   TV and Video                 41.30                 42.30
4                Home Appliances                  4.04                  4.54
5                 Games and Toys                  2.83                  3.49
6  Music, Movies and Audio Books                  7.29                  6.91
7                      Computers                  0.83                  0.75

In [ ]:
%%sql
SELECT
  p.categoryname,
  MAX(CASE WHEN EXTRACT(YEAR FROM s.orderdate) = '2022' THEN s.quantity * s.netprice * exchangerate END) AS max_net_revenue_2022,
  MAX(CASE WHEN EXTRACT(YEAR FROM s.orderdate) = '2023' THEN s.quantity * s.netprice * exchangerate END) AS max_net_revenue_2023
FROM
  product p
LEFT JOIN
  sales s ON p.productkey = s.productkey
GROUP BY
  p.categoryname;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

                    categoryname  max_net_revenue_2022  max_net_revenue_2023
0                          Audio               3473.36               2730.87
1                    Cell phones               7692.37               8912.22
2        Cameras and camcorders               15008.39              13572.00
3                   TV and Video              30259.41              27503.12
4                Home Appliances              31654.55              32915.59
5                 Games and Toys               5202.01               3357.30
6  Music, Movies and Audio Books               5415.19               3804.91
7                      Computers              38082.66              27611.60

In [ ]:
%%sql
SELECT
  p.categoryname,
  PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY (CASE WHEN EXTRACT(YEAR FROM s.orderdate) = '2022' THEN s.quantity * s.netprice * exchangerate END)) AS median_net_revenue_2022,
  PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY (CASE WHEN EXTRACT(YEAR FROM s.orderdate) = '2023' THEN s.quantity * s.netprice * exchangerate END)) AS median_net_revenue_2023
FROM
  product p
LEFT JOIN
  sales s ON p.productkey = s.productkey
GROUP BY
  p.categoryname;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

,categoryname,median_net_revenue_2022,median_net_revenue_2023
0,Audio,257.21,266.59
1,Cameras and camcorders,651.46,672.60
2,Cell phones,418.60,375.88
3,Computers,809.70,657.18
4,Games and Toys,33.78,32.62
5,Home Appliances,791.00,825.25
6,"Music, Movies and Audio Books",186.58,159.63
7,TV and Video,730.46,790.79

# **Advanced Segmentation**

In [ ]:
%%sql
SELECT
  PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY quantity * netprice * exchangerate) AS median_net_revenue
FROM
  sales;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

1 rows affected.

   median_net_revenue
0              399.17

In [ ]:
%%sql
-- We should find in 2022 and 2023 revenue in 2 different format. The total revenue for sales which lower than median value and higher than median value according to
-- each product category.
-- As well as we can see the number of sales which lower and higher than median in 2022 and 2023.
-- For example; for 2022 number of product sales which are lower than median revenue are 1294 and total revenue from these sales are approximately 224.000 but
-- the same for sales which are higher than median revenue are 661 and 543.000 accordingly. We can see that 2 times less sales give us 2 times more revenue.
-- According to this data we can make decision about improving the marketing starategy mostly for product which have sales revenue higher than median revenue.

WITH median_revenue AS
(
  SELECT
    PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY quantity * netprice * exchangerate) AS median
  FROM
    sales
)

SELECT
  p.categoryname,
  SUM(CASE wHEN EXTRACT(YEAR FROM s.orderdate) = '2022' AND
    ((s.quantity * s.netprice * s.exchangerate) < mr.median) THEN (s.quantity * s.netprice * s.exchangerate) END) AS low_revenue_2022,
  COUNT(CASE wHEN EXTRACT(YEAR FROM s.orderdate) = '2022' AND
    ((s.quantity * s.netprice * s.exchangerate) < mr.median) THEN s.productkey END) AS low_sales_count_2022,
  SUM(CASE wHEN EXTRACT(YEAR FROM s.orderdate) = '2022' AND
    ((s.quantity * s.netprice * s.exchangerate) >= mr.median) THEN (s.quantity * s.netprice * s.exchangerate) END) AS high_revenue_2022,
  COUNT(CASE wHEN EXTRACT(YEAR FROM s.orderdate) = '2022' AND
    ((s.quantity * s.netprice * s.exchangerate) >= mr.median) THEN s.productkey END) AS high_sales_count_2022,
  SUM(CASE WHEN EXTRACT(YEAR FROM s.orderdate) = '2022' THEN s.quantity * s.netprice * exchangerate END) AS total_revenue_2022,
  COUNT(CASE wHEN EXTRACT(YEAR FROM s.orderdate) = '2022' THEN s.productkey END) AS sales_count_2022,
  SUM(CASE wHEN EXTRACT(YEAR FROM s.orderdate) = '2023' AND
    ((s.quantity * s.netprice * s.exchangerate) < mr.median) THEN (s.quantity * s.netprice * s.exchangerate) END) AS low_revenue_2023,
  COUNT(CASE wHEN EXTRACT(YEAR FROM s.orderdate) = '2023' AND
    ((s.quantity * s.netprice * s.exchangerate) < mr.median) THEN s.productkey END) AS low_sales_count_2023,
  SUM(CASE wHEN EXTRACT(YEAR FROM s.orderdate) = '2023' AND
    ((s.quantity * s.netprice * s.exchangerate) >= mr.median) THEN (s.quantity * s.netprice * s.exchangerate) END) AS high_revenue_2023,
  COUNT(CASE wHEN EXTRACT(YEAR FROM s.orderdate) = '2023' AND
    ((s.quantity * s.netprice * s.exchangerate) >= mr.median) THEN s.productkey END) AS high_sales_count_2023,
  SUM(CASE WHEN EXTRACT(YEAR FROM s.orderdate) = '2023' THEN s.quantity * s.netprice * exchangerate END) AS total_revenue_2023,
  COUNT(CASE wHEN EXTRACT(YEAR FROM s.orderdate) = '2023' THEN s.productkey END) AS sales_count_2023
FROM
  product p
  LEFT JOIN sales s ON p.productkey = s.productkey,
  median_revenue mr
GROUP BY
  p.categoryname;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

,categoryname,low_revenue_2022,low_sales_count_2022,high_revenue_2022,high_sales_count_2022,total_revenue_2022,sales_count_2022,low_revenue_2023,low_sales_count_2023,high_revenue_2023,high_sales_count_2023,total_revenue_2023,sales_count_2023
0,Audio,223932.63,1294,543005.58,661,766938.21,1955,181847.01,1037,506843.18,582,688690.18,1619
1,Cell phones,822810.73,5477,7296854.34,5766,8119665.07,11243,738857.59,4958,5263290.05,4672,6002147.63,9630
2,Cameras and camcorders,133801.07,692,2248731.49,1277,2382532.56,1969,105268.50,574,1878277.79,1064,1983546.29,1638
3,TV and Video,273532.94,1191,5541803.66,2596,5815336.61,3787,166265.95,742,4245912.27,1872,4412178.23,2614
4,Home Appliances,220196.04,1127,6392250.64,2640,6612446.68,3767,177059.16,906,5742933.71,2232,5919992.87,3138
5,Games and Toys,232378.35,3767,83748.95,122,316127.30,3889,206103.36,3244,64271.60,101,270374.96,3345
6,"Music, Movies and Audio Books",687403.38,5378,2301893.90,2354,2989297.28,7732,576552.89,4769,1604215.24,1749,2180768.13,6518
7,Computers,626333.55,3306,17235879.94,8103,17862213.49,11409,592385.19,3234,11058482.02,5781,11650867.21,9015

In [ ]:
%%sql

WITH percentiles AS
(
SELECT
  PERCENTILE_CONT(0.25) WITHIN GROUP (ORDER BY (quantity * netprice * exchangerate)) AS revenue_25th_percentile,
  PERCENTILE_CONT(0.50) WITHIN GROUP (ORDER BY (quantity * netprice * exchangerate)) AS revenue_median,
  PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY (quantity * netprice * exchangerate)) AS revenue_75th_percentile
FROM
  sales
WHERE
  EXTRACT(YEAR FROM orderdate) BETWEEN '2022' AND '2023'
)

SELECT
  p.categoryname,
  CASE
    WHEN (s.quantity * s.netprice * s.exchangerate) < prc.revenue_25th_percentile THEN 'LOW'
    WHEN (s.quantity * s.netprice * s.exchangerate) BETWEEN prc.revenue_25th_percentile AND prc.revenue_75th_percentile THEN 'MEDIUM'
    WHEN (s.quantity * s.netprice * s.exchangerate) > prc.revenue_75th_percentile THEN 'HIGH'
  END AS revenue_tier,
  SUM(s.quantity * s.netprice * s.exchangerate) AS total_revenue
FROM
  sales s
LEFT JOIN
  product p ON s.productkey = p.productkey
CROSS JOIN
  percentiles prc
GROUP BY
  p.categoryname,
  revenue_tier
ORDER BY
  p.categoryname;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

24 rows affected.

                     categoryname revenue_tier  total_revenue
0                           Audio         HIGH     1213265.71
1                           Audio          LOW      267217.01
2                           Audio       MEDIUM     3832415.38
3         Cameras and camcorders          HIGH    15050781.63
4         Cameras and camcorders           LOW       81032.92
5         Cameras and camcorders        MEDIUM     3388546.10
6                     Cell phones         HIGH    21874993.15
7                     Cell phones          LOW      410309.35
8                     Cell phones       MEDIUM    10338963.22
9                       Computers         HIGH    79607760.89
10                      Computers          LOW      203207.06
11                      Computers       MEDIUM    10808054.11
12                 Games and Toys         HIGH      133749.09
13                 Games and Toys          LOW      533443.13
14                 Games and Toys       MEDIUM     1001381.91
15                Home Appliances         HIGH    22383475.30
16                Home Appliances          LOW      105045.60
17                Home Appliances       MEDIUM     4118724.64
18  Music, Movies and Audio Books         HIGH     3844996.29
19  Music, Movies and Audio Books          LOW      642496.71
20  Music, Movies and Audio Books       MEDIUM     6100817.99
21                   TV and Video         HIGH    16632856.33
22                   TV and Video          LOW       67221.76
23                   TV and Video       MEDIUM     3766783.30

In [ ]:
%%sql

WITH category_percentiles AS
(
SELECT
  p.categoryname,
  PERCENTILE_CONT(0.25) WITHIN GROUP (ORDER BY (s.quantity * s.netprice * s.exchangerate)) AS revenue_25th,
  PERCENTILE_CONT(0.50) WITHIN GROUP (ORDER BY (s.quantity * s.netprice * s.exchangerate)) AS revenue_median,
  PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY (s.quantity * s.netprice * s.exchangerate)) AS revenue_75th
FROM
  sales s
  LEFT JOIN product p ON s.productkey = p.productkey
WHERE
  EXTRACT(YEAR FROM s.orderdate) BETWEEN '2022' AND '2023'
GROUP BY
  p.categoryname
)

SELECT
  p.categoryname,
  MAX(cp.revenue_25th) AS revenue_25th,
  MAX(cp.revenue_median) AS revenue_median,
  MAX(cp.revenue_75th) AS revenue_75th,
  SUM(CASE WHEN EXTRACT(YEAR FROM s.orderdate) = '2022' AND (s.quantity * s.netprice * s.exchangerate) < cp.revenue_25th
    THEN (s.quantity * s.netprice * s.exchangerate) END) AS low_total_revenue_2022,
  SUM(CASE WHEN EXTRACT(YEAR FROM s.orderdate) = '2022' AND ((s.quantity * s.netprice * s.exchangerate) BETWEEN cp.revenue_25th AND cp.revenue_75th)
    THEN (s.quantity * s.netprice * s.exchangerate) END) AS medium_total_revenue_2022,
  SUM(CASE WHEN EXTRACT(YEAR FROM s.orderdate) = '2022' AND (s.quantity * s.netprice * s.exchangerate) > cp.revenue_75th
    THEN (s.quantity * s.netprice * s.exchangerate) END) AS high_total_revenue_25th,
  SUM(CASE WHEN EXTRACT(YEAR FROM s.orderdate) = '2022' THEN s.quantity * s.netprice * exchangerate END) AS total_revenue_2022
FROM
  sales s
  LEFT JOIN product p ON s.productkey = p.productkey
  LEFT JOIN category_percentiles cp ON p.categoryname = cp.categoryname
GROUP BY
  p.categoryname
ORDER BY
  p.categoryname;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

,categoryname,revenue_25th,revenue_median,revenue_75th,low_total_revenue_2022,medium_total_revenue_2022,high_total_revenue_25th,total_revenue_2022
0,Audio,121.81,262.25,526.37,35547.36,278454.27,452936.57,766938.21
1,Cameras and camcorders,276.02,659.87,1536.86,64243.74,758963.97,1559324.86,2382532.56
2,Cell phones,116.96,399.18,949.41,120237.03,2481398.25,5518029.80,8119665.07
3,Computers,294.00,738.00,1722.22,358797.13,4792006.60,12711409.76,17862213.49
4,Games and Toys,14.23,33.12,86.00,8137.68,76492.74,231496.89,316127.30
5,Home Appliances,329.97,806.53,2032.00,156373.56,1787509.27,4668563.85,6612446.68
6,"Music, Movies and Audio Books",52.92,171.31,463.92,51344.72,757790.05,2180162.51,2989297.28
7,TV and Video,329.47,758.32,1727.27,194912.88,1545111.36,4075312.36,5815336.61

# **Date and Time Formatting**
Time series analysis

1.   DATE_TRUNC(), TO_CHAR()
2.   DATE_PART(), EXTRACT()
3.   CURRENT_DATE, NOW()
4.   AGE, INTERVAL()

In [8]:
%%sql
-- We should analyse each month how much revenue we have and how many customer we have.

SELECT
  DATE_TRUNC('month', orderdate)::DATE AS ordermonth,        -- new
  SUM(quantity * netprice * exchangerate) AS total_revenue,
  COUNT(DISTINCT customerkey) AS total_customers
FROM
  sales
GROUP BY
  ordermonth;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

112 rows affected.

     ordermonth  total_revenue  total_customers
0    2015-01-01      384092.66              200
1    2015-02-01      706374.12              291
2    2015-03-01      332961.59              139
3    2015-04-01      160767.00               78
4    2015-05-01      548632.63              236
..          ...            ...              ...
107  2023-12-01     2928550.93             1484
108  2024-01-01     2677498.55             1340
109  2024-02-01     3542322.55             1718
110  2024-03-01     1692854.89              877
111  2024-04-01      483851.39              246

[112 rows x 3 columns]

In [14]:
%%sql

SELECT
  TO_CHAR(orderdate, 'YYYY-MM') AS order_month,              -- new
  SUM(quantity * netprice * exchangerate) AS total_revenue,
  COUNT(DISTINCT customerkey) AS total_customers
FROM
  sales
GROUP BY
  order_month;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

112 rows affected.

    order_month  total_revenue  total_customers
0       2015-01      384092.66              200
1       2015-02      706374.12              291
2       2015-03      332961.59              139
3       2015-04      160767.00               78
4       2015-05      548632.63              236
..          ...            ...              ...
107     2023-12     2928550.93             1484
108     2024-01     2677498.55             1340
109     2024-02     3542322.55             1718
110     2024-03     1692854.89              877
111     2024-04      483851.39              246

[112 rows x 3 columns]

## Data and Time Filtering

In [2]:
%%sql

SELECT
  EXTRACT(YEAR FROM orderdate) AS order_year,
  EXTRACT(MONTH FROM orderdate) AS order_month,
  SUM(quantity * netprice * exchangerate) AS total_revenue,
  COUNT(DISTINCT customerkey) AS total_customers
FROM
  sales
GROUP BY
  order_year,
  order_month;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

112 rows affected.

    order_year order_month  total_revenue  total_customers
0         2015           1      384092.66              200
1         2015           2      706374.12              291
2         2015           3      332961.59              139
3         2015           4      160767.00               78
4         2015           5      548632.63              236
..         ...         ...            ...              ...
107       2023          12     2928550.93             1484
108       2024           1     2677498.55             1340
109       2024           2     3542322.55             1718
110       2024           3     1692854.89              877
111       2024           4      483851.39              246

[112 rows x 4 columns]

In [6]:
%%sql

SELECT
  orderdate,
  categoryname,
  SUM(quantity * netprice * exchangerate) AS total_revenue
FROM
  sales
  LEFT JOIN product ON sales.productkey = product.productkey
WHERE
  EXTRACT(YEAR FROM orderdate) >= EXTRACT(YEAR FROM CURRENT_DATE) - 5    -- Current_date new
GROUP BY
  orderdate,
  categoryname
ORDER BY
  orderdate,
  categoryname;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

11171 rows affected.

        orderdate                   categoryname  total_revenue
0      2020-01-01                          Audio        5490.14
1      2020-01-01        Cameras and camcorders        18880.06
2      2020-01-01                    Cell phones       22593.00
3      2020-01-01                      Computers       78554.54
4      2020-01-01                 Games and Toys        1476.43
...           ...                            ...            ...
11166  2024-04-20                      Computers       58353.68
11167  2024-04-20                 Games and Toys        1744.30
11168  2024-04-20                Home Appliances        1562.04
11169  2024-04-20  Music, Movies and Audio Books        4949.43
11170  2024-04-20                   TV and Video        9841.91

[11171 rows x 3 columns]

## Date and Time Differences (Intervals)

In [12]:
%%sql
SELECT
  orderdate,
  categoryname,
  SUM(quantity * netprice * exchangerate) AS total_revenue
FROM
  sales
  LEFT JOIN product ON sales.productkey = product.productkey
WHERE
  orderdate >= CURRENT_DATE - INTERVAL '5 years'    -- Interval new
GROUP BY
  orderdate,
  categoryname
ORDER BY
  orderdate,
  categoryname;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

9050 rows affected.

       orderdate                   categoryname  total_revenue
0     2020-12-17                          Audio         840.71
1     2020-12-17        Cameras and camcorders         7514.21
2     2020-12-17                    Cell phones        6098.32
3     2020-12-17                      Computers       13119.89
4     2020-12-17                 Games and Toys         555.65
...          ...                            ...            ...
9045  2024-04-20                      Computers       58353.68
9046  2024-04-20                 Games and Toys        1744.30
9047  2024-04-20                Home Appliances        1562.04
9048  2024-04-20  Music, Movies and Audio Books        4949.43
9049  2024-04-20                   TV and Video        9841.91

[9050 rows x 3 columns]

In [19]:
%%sql
SELECT
  EXTRACT(YEAR FROM orderdate) AS order_year,
  ROUND(AVG(EXTRACT(DAY FROM AGE(deliverydate, orderdate))), 2) AS avg_prc_time,
  CAST(SUM(quantity * netprice * exchangerate) AS INTEGER) AS total_revenue
FROM
  sales
WHERE
  EXTRACT(YEAR FROM orderdate) >= EXTRACT(YEAR FROM CURRENT_DATE - INTERVAL '5 years')
GROUP BY
  order_year
ORDER BY
  order_year;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

5 rows affected.

  order_year avg_prc_time  total_revenue
0       2020         0.93       11218436
1       2021         1.36       21357977
2       2022         1.62       44864557
3       2023         1.75       33108566
4       2024         1.67        8396527

# **WINDOW FUNCTIONS**

## Basic Syntax